<html>
<head>
	<title>Demo 1 : Convert All Textareas</title>
	<link rel="stylesheet" href="/css/allocation.css" type="text/css" />
	<link rel="stylesheet" href="/css/button.css" type="text/css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script type="text/javascript">
		var username = '<%= req.session.username %>';
		var message = 'hello world';
		
//		function lastQuestionPopup(message){
//			$( "#popup" ).dialog({
//				dialogClass: "alert",
//				  buttons: [
//				    {
//				      text: "Ok",
//				      click: function() {
//				    	var location = "/allocation/intro";
//						window.location.href = location ;
//				      }
//				    },
//				    {
//				    	text: "cancel",
//					      click: function() {
//					        $( this ).dialog( "close" );
//					        getQuestionNumber(MaxQuestions);
//					      }
//				    }
//				  ]
//			});
//			$( "#popup" ).html(message);
//			return;
//		}
		

		
	  	function getSessionUser(username){
			path = "/sessionuser/find" ;
			
			var request= {
	            action : path,
	          	username: username,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.post(path,  request,   function(data, status, xhr){
				console.log(data);
				getSession(data.id);
				
			}, "json");	
		
		}
	  	
	  	function sendEmail(){
	  		console.log('here');
			path = "/emailer/user_send_mail" ;
			var session_date = $('#session_date').text();
			var session_time = $('#session_time').text();
			console.log('trying to send an email to the user');
			var request= {
	            action : path,
	            username: username,
	            session_date: session_date,
	            session_time: session_time,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.post(path,  request,   function(data, status, xhr){
				if(data.message){
					//console.log(data.message);
					displayPopup(data.message);
				}
				
			}, "json");	
		
		}
	  	
	  	function getSession(id){
	  		
	  		path = "/sessionuser/" + id;
			var request= {
	            action : path,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.post(path,  request,   function(data, status, xhr){
				//console.log(data);
				displaySessionData(data);
			}, "json");	
	  		
	  	}
	  	
	  	function displaySessionData(data){
	  		var username = '<h5 class="center"> Username: <span id="username">' + data.user_id.username +  '</span></h5>';
	  		var session_date = data.session_id.date;
	  		session_date = session_date.substring(0, 10);
	  		session_date = '<h5  class="center">Session Date: <span id="session_date">' +  session_date  +  '</span></h5>';
	  		var session_time = '<h5  class="center">Session Time: <span id="session_time">' +  data.session_id.time  +  '</span></h5>';
	  		
	  		$('#session_data').append(username);
	  		$('#session_data').append(session_date);
	  		$('#session_data').append(session_time);
	  	}
	  	
	  	function displayPopup(message){
	  		$( "#popup" ).dialog({
				autoOpen: true,
				resizable: false,
				position: { my: "left bottom", at: "left+100 bottom-100", of: '#emailer' },
			    height: 350,
			    width: 300,
			    
			    modal: true,
			    buttons: {
			        "OK": function() {
			          $( this ).dialog( "close" );
				    }
			    }
			});
			
			$( "#popup" ).html(
				message
			);
	  		
	  	}
	  	
	  	function logoutUser(){
	  		var location = "/confirm/end1";
			window.location.href = location ;
	  	}
	  	
		$( document ).ready(function() {
			getSessionUser(username);
			setTimeout(function() { logoutUser(); }, 300000);
			$('#popup').show()
			$('#popup').text('You will be automatically logged out of this page in 5 minutes!');
			setTimeout(function() { $('#message').fadeOut(2000); }, 300000);
		});
	  	
		
		
	</script>	
	
</head>
<body>

<div class='center'><h4>Session One Completed</h4></div>

<p>

Thank you for completing the first part of our study.
You are registered in the following session to complete the second part of our study:
</p>
<p>
<h4>Session Details</h4>
<div id='details'></div>
</p>
<p>
Please bring your User name with you to the session.
</p>
<p>
<div class='vertical_spacer_ten'></div>
		<div class='vertical_spacer_ten'></div>
		<div id='session_info' class='vertical_spacer_ten'></div>
		<div id='session_data'>
		</div>
		<div class='vertical_spacer_ten'></div>
		<div class='vertical_spacer_ten'></div>
		</p>
		<p>
<div class='hundred button_height '>
	<div class='ninety'>
		 <a href="#" onclick="nextQuestion()" class="fifty_w_h  right button dark_grey "><div class="center_text">Press When Finished</div></a>
	</div>
</div>
<div class = 'after_left'></div>
</p>
<div id='popup'>
</div>

</body>
</html>