
<html>
<head>
	<title>Demo 1 : Convert All Textareas</title>
	<link rel="stylesheet" href="/css/login.css" type="text/css" />
	<link rel="stylesheet" href="/css/button.css" type="text/css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script type="text/javascript">
		
		function updateUser(){
			username = $('#tags').val();
			email = $('#email').val();
			password = $('#password').val();
			confirmPassword  = $('#confirm_password').val();
			path = "/user/updateUser" ;
			var request= {
		            action : path,
		            email: email,
		            username: username,
		            password: password,
		            confirm_password: confirmPassword,
		            rand : Math.floor(Math.random()*100000)
		        };
				
				$.post(path,  request,   function(data, status, xhr){	
					
					if(data.success_message){
						console.log(data.message);
						$('#popup').show()
						$('#popup').text(data.success_message);
						setTimeout(function() { $('#popup').fadeOut(2000); }, 3000);
						//setTimeout(function() { loginUser(username, password); }, 2000);
						
					}
					if(data.error_message){
						console.log(data.message);
						$('#username_not_available').show()
						$('#username_not_available').text(data.error_message  + '<br/> Please select another username. If this problem persists please ask for help!');
						setTimeout(function() { $('#username_not_available').fadeOut(6000); }, 5000);
					}
					if(data.password_error_message){
						console.log(data.message);
						$('#username_not_available').show()
						$('#username_not_available').text(data.password_error_message  + '<br/>  If this problem persists please ask for help!');
						setTimeout(function() { $('#username_not_available').fadeOut(6000); }, 5000);
					}
					if(data.email_error_message){
						console.log(data.message);
						$('#username_not_available').show()
						$('#username_not_available').text(data.email_error_message  + '<br/>  If this problem persists please ask for help!');
						setTimeout(function() { $('#username_not_available').fadeOut(6000); }, 5000);
					}
					
					
				}, "json");	
		}
		
		function loginUser(username, password){
			
			path = "/login/login_user_from_create" ;
			var request= {
		            action : path,
		            username: username,
		            password: password,
		            rand : Math.floor(Math.random()*100000)
		        };
				
				$.post(path,  request,   function(data, status, xhr){	
					
					if(data.success_message){
						console.log(data.message);
						$('#popup').show()
						$('#popup').text(data.success_message);
						setTimeout(function() { $('#logged_in').fadeOut(2000); }, 3000);
						setTimeout(function() { nextPage(username); }, 3000);
					}
					if(data.error_message){
						console.log(data.message);
						$('#error_message').show()
						$('#error_message').text(data.error_message);
						setTimeout(function() { $('#error_message').fadeOut(3000); }, 5000);
					}
					
					
				}, "json");	
		}
		
	
		function nextPage(username){
			var location = "/page/pickSession?username=" + username;
			window.location.href = location ;
		}
		
		function logUserIn(username){
			var location = "/login/login?username=" + username;
			window.location.href = location ;
		}
	
	
		
		$( document ).ready(function() {
//			$("#tags").bind('focus', function(){
//				  if($(this).val()=="" || $(this).val() != ""){ 
//				     $(this).autocomplete("search");
//				  } 
//			});
		});
		
		
	</script>	
	
</head>
<body>
	<div class='container'>
		<div class='innerDiv'>
			<p>
			<h1>Welcome to the change password page</h1>
			</p>
		</div>
	
	<form method="post" action="../login/login">
		
		</p>
		<div class='clear spacer_twenty'></div>
		<div class='clear spacer_twenty'></div>
		<div class='clear spacer_twenty'></div>
		<div class='cellContainer'>
			<div class='innercellContainer'>
				<div class='cellDiv left'>Email: </div><div class='cellDiv left'><input id='email' type="email" name="email"></div>
			</div>	
		</div>
		<div class='clear spacer_twenty'></div>
		<div class='cellContainer'>
			<div class='innercellContainer'>
			<div class='cellDiv left'>Password: </div><div class='cellDiv left'><input id='password' type="password" name="password"></div>
			</div>
		</div>
		<div class='cellContainer'>
			<div class='innercellContainer'>
			<div class='cellDiv left'>Confirm Password: </div><div class='cellDiv left'><input id='confirm_password' type="password" name="confirm_password"></div>
			</div>
		</div>
		<div class='clear spacer_twenty'></div>
		<div class='clear spacer_twenty'></div>
		<div class='clear spacer_twenty'></div>
	</form>
		<div class='vertical_spacer_ten'></div>
		<div class='vertical_spacer_ten'></div>
		<div class='vertical_spacer_ten'></div>
		<div class='vertical_spacer_ten'></div>
		<div class='cellContainer'>
			<div class='hundred button_height '>
				<div class='ninety'>
				<div class='spacer_right right'></div>		 
					 <a id='pb' href="#" onclick="updateUser();" class="fifty_w_h  right button dark_grey "><div class="center_text">Update Password</div></a>
				</div>
			</div>
		</div>
		
		<div class='vertical_spacer_ten'></div>
		<div class='vertical_spacer_ten'></div>
		<div class='vertical_spacer_ten'></div>
		<div class='vertical_spacer_ten'></div>
		<div id='popup' class='green'></div>
		<div id='logged_in' class='green'></div>
		<div id='username_available' class='green'></div>
		<div id='username_not_available' class='red'></div>
		<div id='error_message' class='red'></div>
	</div>
</body>
</html>

