<br/>
<form id='response'>
<div class='hundred'>
	<div class='container'>
	  
	  <div class='left ten txt_center_default_answer'>
	  	<input type="radio" name="response" value="1">
	  	<br/>
	  	Strongly<br/>Disagree</div>
	  <div class='left ten txt_center_default_answer'>
	  	<input type="radio" name="response" value="2">
	  </div>
	  <div class='left ten txt_center_default_answer'>
	  	<input type="radio" name="response" value="3">
	  </div>
	  <div class='left ten txt_center_default_answer'>
	  	<input type="radio" name="response" value="4">
	  	<br/>
	  	Neutral
	  </div>
	  <div class='left ten txt_center_default_answer'>
	  	<input type="radio" name="response" value="5">
	  </div>
	  <div class='left ten txt_center_default_answer'>
	  	<input type="radio" name="response" value="6">
	  </div>
	  <div class='left ten txt_center_default_answer'>
	  	<input type="radio" name="response" value="7">
	  	<br/>
	  	Strongly<br/>Agree
	  </div>
	</div>
</div>
<div class = 'after_left'></div>
<br/>
<br/>
<br/>

<hr>
<br/>

<div class='hundred txt_center_default_answer'>
	<div class='container'>
		<div class='left spacer_twenty'></div>
		<div class=' left txt_center_default_answer'>
		  	<input type="radio" name="response" value="0">&nbsp;
		  	I have no opinion about this issue
		 </div>
		 
	 </div>
</div>
</form>


