<p>
<div class='center'>Question: What is your major?</div>
</p>
<div class='vertical_spacer_ten'></div>
<p>
<form id='response'>
<div class='hundred'>
	
	  <p>
	  	<div class=' left5'>
	  	<input  id='major1' type="checkbox" name="response" value="Accounting"><span>Accounting</span>
	  	</div>
	  </p>
	  <p>
	  	<div class=' left20'>
	  	 <input id='major2' type="checkbox" name="response" value="Marketing"><span>Marketing</span>
	  	</div>
	  </p>
	  <p>
	  	<div class=' left35'>
	  	<input id='major3' type="checkbox" name="response" value="Operations"><span>Operations</span>
	  	</div>
	  </p>
	  <p>
	  	<div class=' left50'>
	  	 <input id='major4' type="checkbox" name="response" value="Finance"><span>Finance</span>
	  	</div>
	  </p>
	  <p>
	  	<div class=' left65'>
	  	 <input id='major4' type="checkbox" name="response" value="Organizational Behaviour"><span>Organizational Behaviour</span>
	  	</div>
	  </p>
	  <p>
	  	<div class=' left80'>
	  	<input id='major5' type="checkbox" name="response" value="Other"><span>Other(please specify)</span><input id='other' type="text" >
	  	</div>
	  </p>
	  
</div>
</form>
</p>

<div class='vertical_spacer_ten'></div>
<div class='vertical_spacer_ten'></div>