<p>
<div class='center'>Question: What is your gender?</div>
</p>
<div class='vertical_spacer_ten'></div>
<p>
<form id='response'>
<div class='hundred'>
	
	  <p>
	  	<div class=' left40'>
	  	<input  type="radio" name="response" value="0"><span>Female</span>
	  	</div>
	  </p>
	  <p>
	  	<div class=' left55'>
	  	 <input  type="radio" name="response" value="1"><span>Male</span>
	  	</div>
	  </p>
</div>
</form>
</p>

<div class='vertical_spacer_ten'></div>
<div class='vertical_spacer_ten'></div>