<form id='response'>
<table class='hundred leftpad10'>
	<tr>
		<td class='w_30'><div class='leftpad10'><input  id='major1' type="checkbox" name="response" value="Accounting"><span>Accounting</span></div></td>
		<td class='w_30'><div class='leftpad10'><input id='major2' type="checkbox" name="response" value="Marketing"><span>Marketing</span></div></td>
		<td class='w_30'><div class='leftpad10'><input id='major3' type="checkbox" name="response" value="Operations"><span>Operations</span></div></td>
	</tr>
	
	<tr>
		<td class='w_30'><div class='leftpad10'><input id='major4' type="checkbox" name="response" value="Finance"><span>Finance</span></div></td>
		<td class='w_30'>
			<div class='leftpad10'><input id='major4' type="checkbox" name="response" value="Organizational Behaviour"><span>Organizational Behaviour</span></div>
		</td>
		<td class='w_30'>
			<div class='leftpad10'><input id='major5' type="checkbox" name="response" value="Other"><span>Other(please specify)</span></div>
			
		</td>
	</tr>
	<tr>
		<td class='w_30'></td>
		<td class='w_30'></td>
		<td class='w_30'><div class='leftpad10'><input id='other' type="text" ></div></td>
	</tr>
</table>
</form>