<form id='response'>
<table class='hundred leftpad10'>
	<tr>
		<td class='w_30'><div class='leftpad10'><input  id='major1' type="checkbox" name="response" value="Business"><span>Business</span></div></td>
		<td class='w_30'><div class='leftpad10'><input id='major2' type="checkbox" name="response" value="Economics"><span>Economics</span></div></td>
		<td class='w_30'><div class='leftpad10'><input id='major3' type="checkbox" name="response" value="Math"><span>Math</span></div></td>
	</tr>
	
	<tr>
		<td class='w_30'><div class='leftpad10'><input id='major4' type="checkbox" name="response" value="Computer Science"><span>Computer Science</span></div></td>
		<td class='w_30'>
			<div class='leftpad10'>
				<input id='major5' type="checkbox" name="response" value="Other"><span>Other(please specify)</span>
			</div>
		</td>
		<td class='w_30'>			
		</td>
	</tr>
	<tr>
		<td class='w_30'></td>
		<td class='w_30'><div class='leftpad10'><input id='other' type="text" ></div></td>
		<td class='w_30'></td>
	</tr>
</table>
</form>