
<table class='hundred'>
	<tr>
		<td class='hundred center'><div class=''>In a typical week, approximately how many hours do you spend playing video, computer, or cell phone games?</div></td>
		
	</tr>
		<tr>
		
		<td class='hundred center'><div class='leftpad10'><input id='game_hours_input' type="text" ></div></td>
	</tr>
</table>
