<table class='hundred'>
	<tr>
		<td class='hundred center'><div class=''>How many months of full-time work experience, or equivalent, 
		including summer jobs, have you had? If you only have had part-time work experience, convert it to 
		full-time work experience based on the hours you have worked. </div></td>
	</tr>
	<tr>
		<td class='hundred center'><div class='leftpad10'><input id='work_ex' type="text" ></div></td>
	</tr>
</table>