<p>
<div class='center'>Question: What is your major?</div>
</p>
<div class='vertical_spacer_ten'></div>
<p>
<form id='response'>
<div class='hundred'>
	
	  <p>
	  	<div class=' left10'>
	  	<input  id='major1' type="checkbox" name="response" value="Business"><span>Business</span>
	  	</div>
	  </p>
	  <p>
	  	<div class=' left25'>
	  	 <input id='major2' type="checkbox" name="response" value="Economics"><span>Economics</span>
	  	</div>
	  </p>
	  <p>
	  	<div class=' left40'>
	  	<input id='major3' type="checkbox" name="response" value="Math"><span>Math</span>
	  	</div>
	  </p>
	  <p>
	  	<div class=' left55'>
	  	 <input id='major4' type="checkbox" name="response" value="Computer Science"><span>Computer Science</span>
	  	</div>
	  </p>
	  <p>
	  	<div class=' left75'>
	  	<input id='major5' type="checkbox" name="response" value="Other"><span>Other(please specify)</span><input id='other' type="text" >
	  	</div>
	  </p>
	  
</div>
</form>
</p>

<div class='vertical_spacer_ten'></div>
<div class='vertical_spacer_ten'></div>