<html>
<head>
	<title>Demo 1 : Convert All Textareas</title>
	<link rel="stylesheet" href="/css/allocation.css" type="text/css" />
	<link rel="stylesheet" href="/css/button.css" type="text/css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script type="text/javascript">
		var username = '<%= req.session.username %>';
		var message = 'hello world';
		
		function lastQuestionPopup(message){
			$( "#popup" ).dialog({
				dialogClass: "alert",
				  buttons: [
				    {
				      text: "Ok",
				      click: function() {
				    	var location = "/allocation/intro";
						window.location.href = location ;
				      }
				    },
				    {
				    	text: "cancel",
					      click: function() {
					        $( this ).dialog( "close" );
					        getQuestionNumber(MaxQuestions);
					      }
				    }
				  ]
			});
			$( "#popup" ).html(message);
			return;
		}
		

		
		$( document ).ready(function() {
			lastQuestionPopup(message);
		});
	  	
	  	
		
		
	</script>	
	
</head>
<body>

<div class='center'><h4>Demographic Info Page</h4></div>

<p>
<div id='scenario_text'></div>

</p>

<p>
<div id='quiz_text'></div>

</p>



<p>
<div class='hundred button_height '>
	<div class='ninety'>
		 <a href="#" onclick="previousQuestion()" class="fifty_w_h left button dark_grey "><div class="center_text">Previous Question</div></a>
		
		 <a href="#" onclick="nextQuestion()" class="fifty_w_h  right button dark_grey "><div class="center_text">Next Question</div></a>
	</div>
</div>
<div class = 'after_left'></div>
</p>
<div id='popup'>
</div>

</body>
</html>