<html>
<head>
	<title>Demo 1 : Convert All Textareas</title>
	<link rel="stylesheet" href="/css/allocation.css" type="text/css" />
	<link rel="stylesheet" href="/css/button.css" type="text/css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script type="text/javascript">
		var username = '<%= req.session.username %>';
		
		var QuestionNumber = 0;
		var MaxQuestions = 4;
		var answered = false;
		
		function nextQuestion(){
			var value = $('input[name=response]:checked', '#response').val();
			if(typeof value === 'undefined'){
				$( "#popup" ).dialog({
					dialogClass: "alert",
					  buttons: [
					    {
					      text: "Ok",
					      click: function() {
					        $( this ).dialog( "close" );
					      }
					    }
					  ]
				});
				$( "#popup" ).html('Please select one of the eight radio buttons to select a value!');
				return;
			}else{
				saveAnswer(QuestionNumber, value);
			}
		}
		
		function saveAnswer(question, value){
		
			path = "/opinion/save" ;
			//console.log(path);	
		
			var request= {
	            action : path,
	            question: question,
	            value: value,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.post(path,  request,   function(data, status, xhr){
				//console.log(data); 
				if(!data.message_error){
					//findAnswer(question)
					$("input:radio[name='response']").each(function(i) {
				       this.checked = false;
					});
					getQuestion(); 
				}else{
					console.log(data.message_error);
				}
				
			}, "json");	
		
		}
		
		
		
		function previousQuestion(){
			if(QuestionNumber === 0 || QuestionNumber === 1){
				QuestionNumber = 1;
			}else{
				QuestionNumber = QuestionNumber - 1;
			}
			
			getQuestionNumber(QuestionNumber);		
		}
		
		function getQuestionNumber(number){
				
				var path = "/quiz/" + number;
				//console.log(path);	
			
				var request= {
		            action : path,
		            rand : Math.floor(Math.random()*100000)
		        };
				
				$.get(path,  request,   function(data, status, xhr){
					var question = data.text;	
					$('#questionNumber').html(data.id);
					//findAnswer(data.id);
			        setQuestion(question);   
				}, "json");	
			
		}
		
		function getScenario(){
			
			var path = "/scenario/" + 1;
		
			var request= {
	            action : path,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.get(path,  request,   function(data, status, xhr){
				var question = data.text;	
				//$('#questionNumber').html(data.id);
				//findAnswer(data.id);
		        setScenario(question);   
			}, "json");	
		
		}
		
		function setQuestion(content){
			//console.log(content);
			$('#quiz_text').html(content);
		}
		
		function setScenario(content){
			//console.log(content);
			$('#scenario_text').html(content);
		}
		
		function getQuestion(){
			if(MaxQuestions && QuestionNumber < MaxQuestions){
				//console.log('here');
				QuestionNumber = QuestionNumber + 1;
				getQuestionNumber(QuestionNumber);
			}else if(MaxQuestions && QuestionNumber == MaxQuestions) {
				console.log('Last Question');
				lastQuestionPopup();
				
				
			}else if(QuestionNumber == 0){
				getQuestionNumber(0);
			}	
		}
		
		function lastQuestionPopup(){
			$( "#popup" ).dialog({
				dialogClass: "alert",
				  buttons: [
				    {
				      text: "Ok",
				      click: function() {
				    	var location = "/allocation/intro";
						window.location.href = location ;
				      }
				    },
				    {
				    	text: "cancel",
					      click: function() {
					        $( this ).dialog( "close" );
					        getQuestionNumber(MaxQuestions);
					      }
				    }
				  ]
			});
			$( "#popup" ).html('You have reached the end of this portion of the Lab. Please press <h5>OK</h5> to proceed or cancel to review your answers.');
			return;
		}
			
		function findAnswer(question){
				path = "/opinion/find" ;
				var request= {
		            action : path,
		            question: question,
		            rand : Math.floor(Math.random()*100000)
		        };
				
				$.post(path,  request,   function(data, status, xhr){	
					if(data.length>0 && data[0].question){
						//console.log('inside if');
						//console.log(data[0].value);
						$('input[name=response]', '#response').each(function(index, value){
							//console.log(index);
							if($(this).attr('value')==data[0].value){
								this.checked = true;
							}
						});
					}else{
						$('input[name=response]', '#response').each(function(index, value){
							this.checked = false;
						});
					}
				}, "json");	
		}
		
		$( function() {
		    $( "#dialog" ).dialog();
		  } );
		
		$( document ).ready(function() {
			getScenario()
			getQuestion();
		});
	  	
	  	
		
		
	</script>	
	
</head>
<body>

<div class='center'><h4>Allocation Game Quiz 1</h4></div>
<p>
<%- partial('../layout/allocation/table') %>
</p>
<p>
<div id='scenario_text'></div>

</p>

<p>
<div id='quiz_text'></div>

</p>

<%- partial('../layout/scenario/quiz_answer') %>

<p>
<div class='hundred button_height '>
	<div class='ninety'>
		 <a href="#" onclick="previousQuestion()" class="fifty_w_h left button dark_grey "><div class="center_text">Previous Question</div></a>
		
		 <a href="#" onclick="nextQuestion()" class="fifty_w_h  right button dark_grey "><div class="center_text">Next Question</div></a>
	</div>
</div>
<div class = 'after_left'></div>
</p>
<div id='popup'>
</div>

</body>
</html>