
<html>
<head>
	<title>Demo 1 : Convert All Textareas</title>
	<link rel="stylesheet" href="/css/allocation.css" type="text/css" />
	<link rel="stylesheet" href="/css/button.css" type="text/css" />
	<link rel="stylesheet" href="/css/aac.css" type="text/css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script type="text/javascript">
	var username = '<%= req.session.username %>';
		
	function getClickCounter(){
		path = "/userClick/find";
		var request= {
            action : path,
            username: username,
            page: 'dfk',
            rand : Math.floor(Math.random()*100000)
        };
		
		$.get(path,  request,   function(data, status, xhr){
			if(data){
				console.log(data);
			}
			
		}, "json");	
	}
  	

  	

			
	$( document ).ready(function() {
			getClickCounter();
		
	});
		
		
	</script>	
	
</head>
<body>

<img src="/images/aaoc.jpg" alt="Drug Free Kids" height="80" width="300">

<p>
Animal Alliance of Canada (AAC) is a federally incorporated non-profit 
organization committed to the protection of all animals and to the promotion 
of a harmonious relationship among humans, non-humans and the environment. 
As a non-profit, AAC uses electoral politics and lobbying as strategies 
to make the legislators pass sound animal and environmental protection laws.
<p>
AAC believes that animal testing should not be allowed in scientific 
research. AAC supporters often rescue animals before they are sent to 
research and also rescue and rehabilitate animals from research labs.  
AAC supporters strongly support the use of alternative methods for scientific 
testing other than animal testing.
<p>
<a href="/allocation/intro">Click here to return to the Allocation Game</a>
</p>
<p>
<a href="/allocation/ccac">Canadian Council on Animal Care</a>

</p>



<div id='popup'>
</div>

</body>
</html>

