<html>
<head>
	<title>Demo 1 : Convert All Textareas</title>
	<link rel="stylesheet" href="/css/allocation.css" type="text/css" />
	<link rel="stylesheet" href="/css/button.css" type="text/css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script type="text/javascript">
		var username = '<%= req.session.username %>';
	  	
	  	
		
		
	</script>	
	
</head>
<body>

Allocation Game
<p>


You have now been given 15 tokens. You may divide these tokens any way you choose 
between yourself and X << X being Norml Canada or Drug Free Kids, please get 
the choice participants made in the previous screen>>. Each token you choose to 
keep for yourself is worth $2. Each token you give to the not-for-profit organization
 is worth a different amount. The first token you give to the organization is worth $5.
 The second token is worth $4.70, the third worth $4.40 and so forth. More generally,
 each token you pass onto the organization is worth $5.30 – n*0.3 where n is the number
 of the token sent to the organization. The table below makes explicit your payment
 and the payment sent to X << X being Norml Canada or Drug Free Kids, please get
 the choice participants made in the previous screen >> as a function of all
 possible allocations of your 15 tokens.
</p>
<p>
Please give some thought to your decision because once 
all of the participants in our study have completed the survey, 
1 out of every 10 participants will be randomly selected. The allocations 
of these randomly selected participants will be implemented. That is, if you 
are chosen, the dollar value of any tokens you kept for yourself will be paid 
to you during the second part of this study in the computer lab and the dollar 
value of any tokens that you transferred to X << X being Norml Canada or Drug 
Free Kids, please get the choice participants made in the previous screen >> 
will be mailed to this organization.
</p>
<p>

<%- partial('../layout/allocation/table') %>
</p>
<p>
<a href="/allocation/allocation3">When ready - Proceed to next Page</a>



<div id='popup'>
</div>

</body>
</html>