-- image goes here

<p>
Drug Free Kids Canada wants to create a movement to inspire and 
support parents to prevent drug abuse by youth. Drug Free Kids 
Canada is a Canadian registered charity made up of volunteer 
private-sector partners from major media, advertising, production, 
research and corporate industries.  The vision of Drug Free Kids 
Canada is to ensure that all young people will be able to live 
their lives free of drug or alcohol abuse.   
</p>
<ul>
	<li>Create drug education/prevention messages that run on TV, radio, 
			print and digital media across Canada.
	</li>
	<li>
		Maintain a comprehensive website designed for parents to learn 
		about drugs, teen drug abuse and get helpful parenting tips.
	</li>
	<li>
		Educate Canadian parents and grandparents on the devastating 
		effects of illicit drug use by kids.
	</li>
</ul>