<html>
<head>
	<title>Demo 1 : Convert All Textareas</title>
	<link rel="stylesheet" href="/css/allocation.css" type="text/css" />
	<link rel="stylesheet" href="/css/button.css" type="text/css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script type="text/javascript">
		var username = '<%= req.session.username %>';
		
		var QuestionNumber = 0;
		var MaxQuestions = 4;
		var answered = false;
		var non_gov_org = new Object();
		
		var answers = [['&nbsp;$5.00', '&nbsp;$2.00', '&nbsp;$0.00'],['&nbsp;$5.00','&nbsp;$1.10','&nbsp;$0.00'],
			['&nbsp;$5.00', '$31.60', '$42.70'],['&nbsp;$2.00', '&nbsp;$5.00', '$28.00']];
		
		var correct_answers = [[1,1],[2,2],[3,3],[4,1]];
		
		function check_answer(answer){
			var correct_answer = correct_answers[QuestionNumber-1][1];
			var message;
			if(		QuestionNumber ===1 ||
					QuestionNumber ===2
			){
				message = 'The first token you give to the organization is worth $5.' +
				'The second token is worth $4.7, the third worth $4.4 and so forth. More ' +
				'generally, each token you pass onto the organization is worth $5.3 &#45; n*0.3 ' +
				'where n is the number of the token sent to the organization';	
			}else{
				message = 'Please refer to the table below that states your payment and ' +
				'the payment sent to the not-for-profit organization as a ' +
				'function of all possible allocations of your 15 tokens';
			}
			if(correct_answer === answer){
				message = '<b>Great Job!!!</b>';
				$('#quiz_assistant').empty();
				$('#quiz_assistant').removeClass('red');
				$('#quiz_assistant').addClass('green');
			}else{
				console.log(':(');
				$('#quiz_assistant').removeClass('green');
				$('#quiz_assistant').addClass('red');
			}
			$('#quiz_assistant').empty();
			$('#quiz_assistant').show();
			$('#quiz_assistant').html(message);
			

		}
		
		function nextQuestion(){
			$('#quiz_assistant').hide();
			var value = $('input[name=response]:checked', '#response').val();
			if(typeof value === 'undefined'){
				$( "#popup" ).dialog({
					dialogClass: "alert",
					  buttons: [
					    {
					      text: "Ok",
					      click: function() {
					        $( this ).dialog( "close" );
					      }
					    }
					  ]
				});
				$( "#popup" ).html('Please select one of the three radio buttons to select a value!');
				return;
			}else{
				saveAnswer(QuestionNumber, value);
			}
		}
		
		function saveAnswer(question, value){
		
			console.log('question: ' + question + ' value: ' + value);
			getQuestion();
		}
		
		function previousQuestion(){
			if(QuestionNumber === 0 || QuestionNumber === 1){
				QuestionNumber = 1;
			}else{
				QuestionNumber = QuestionNumber - 1;
			}
			
			getQuestionNumber(QuestionNumber);		
		}
		
		function getQuestionNumber(number){
				
				var path = "/quiz/" + number;
				//console.log(path);	
			
				var request= {
		            action : path,
		            rand : Math.floor(Math.random()*100000)
		        };
				
				$.get(path,  request,   function(data, status, xhr){
					var question = data.text;	
					console.log('question ' + question);
					$('#questionNumber').html(data.id);
					findAnswer(data.id);
			        setQuestion(question);   
				}, "json");	
			
		}
		
		function getScenario(){
			
			var path = "/scenario/" + 2;
		
			var request= {
	            action : path,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.get(path,  request,   function(data, status, xhr){
				var question = data.text;	
				//$('#questionNumber').html(data.id);
				//findAnswer(data.id);
		        setScenario(question);   
			}, "json");	
		
		}
		
		function setQuestion(content){
			var org_name = non_gov_org['name'];
			console.log('setQuestion ngo: ' + non_gov_org['name']);
			content = content.replace('NGO', org_name);
			$('#quiz_text').html(content);
		}
		
		function setScenario(content){
			var org_name = non_gov_org['name'];
			content = content.replace('NGO', org_name);
			$('#scenario_text').html(content);
		}
		
		function getQuestion(){
			if(MaxQuestions && QuestionNumber < MaxQuestions){
				//console.log('here');
				QuestionNumber = QuestionNumber + 1;
				getQuestionNumber(QuestionNumber);
			}else if(MaxQuestions && QuestionNumber == MaxQuestions) {
				console.log('Last Question');
				lastQuestionPopup();
				
				
			}else if(QuestionNumber == 0){
				getQuestionNumber(0);
			}	
		}
		
		function lastQuestionPopup(){
			$( "#popup" ).dialog({
				dialogClass: "alert",
				  buttons: [
				    {
				      text: "Ok",
				      click: function() {
				    	var location = "/allocation/allocate";
						window.location.href = location ;
				      }
				    },
				    {
				    	text: "cancel",
					      click: function() {
					        $( this ).dialog( "close" );
					        getQuestionNumber(MaxQuestions);
					      }
				    }
				  ]
			});
			$( "#popup" ).html('You have reached the end of this scenario. Please press <h5>OK</h5> to proceed to the next page.');
			return;
		}
			
		function findAnswer(question){
				
			$('input[name=response]', '#response').each(function(index, value){
				this.checked = false;
				var value = answers[QuestionNumber-1][index];
				console.log('value: ' + value);
				$('#answer' + index).empty();
				$('#answer' + index).html(value);
			});	
		}
		
		$( function() {
		    $( "#dialog" ).dialog();
		  } );
		
		function findNgo(){
			
			var path = "/Ngo_Choice1/find";
		
			var request= {
	            action : path,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.get(path,  request,   function(data, status, xhr){
				if(data){
					var ngo = data.ngo;	
					non_gov_org.name = ngo.name;
					console.log(non_gov_org);
					console.log(ngo.name);
					$('.ngo').html(ngo.name);
					getScenario();
					getQuestion();
				}
				  
			}, "json");	
		
		} 
		
		$( document ).ready(function() {
			findNgo();
		});
	  	
	  	
		
		
	</script>	
	
</head>
<body>
<p>
<div class='height_70'>
<div id='quiz_assistant'  ></div>
</div>
</p>
<div></div>

<div class='center'><h4>Allocation Game</h4></div>
<div></div>
<p>
Once all of the participants in our study have completed the survey, one out of every 10 
participants will be randomly selected to implement their allocation decisions. That is, 
if you are chosen, the dollar value of any tokens you kept for yourself will be paid to 
you at the second part of this study in the computer lab and the dollar value of any tokens 
you transferred to <span class='ngo'></span> will be mailed to it.  
</p>
<p>
<div id='scenario_text'></div>

</p>

<p>
<div id='quiz_text'></div>

</p>

<%- partial('../layout/scenario/quiz_answer') %>

<p>
<p>

</p>
<div class='hundred button_height '>
	<div class='hundred left35'>
		 <a id='emailer' href="#" onclick="nextQuestion()" class=" fifty_left35  left button dark_grey "><div class="center_text">Next Question</div></a>
	</div>
</div>
<div class = 'after_left'></div>
<br/><br/><br/>
</p>


<p>
<div id='popup'>
</div>
</p>
<p></p>
<p>
<%- partial('../layout/allocation/table') %>
</p>
</body>
</html>