

<html>
<head>
	<title>Demo 1 : Convert All Textareas</title>
	<link rel="stylesheet" href="/css/allocation.css" type="text/css" />
	<link rel="stylesheet" href="/css/button.css" type="text/css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script type="text/javascript">
		
		// ensure answer is not preselected
//		function refreshPage(){
//			$("input:radio[name='consent']").each(function(i) {
//			  this.checked = false;
//			});
//		}
		
//		function proceed(){
//			var value = $('input[name=consent]:checked', '#response').val();
//			console.log(value);
//			// ensure a value has been selected
//			if(typeof value === 'undefined'){
//				$( "#popup" ).dialog({
//					autoOpen: true,
//					resizable: false,
//					position: { my: "left bottom", at: "left+100 bottom-100", of: '#pb' },
//				    height: 300,
//				    width: 300,
//				    
//				    modal: true,
//				    buttons: {
//				        "OK": function() {
//				          $( this ).dialog( "close" );
//					    }
//				    }
//				});
//				
//				$( "#popup" ).html(
//					'<h5 class="center">Please select option</h5> <p><h4 class="center">' +
//					'"I agree to participate"</h4></p>  <h5 class="center">if you wish to proceed!</h5>'
//				);
//				
//			}else if (value == 1){
//				//login();
//				generateUserName();
//			}else{
//				$( "#popup" ).dialog({
//					autoOpen: true,
//					resizable: false,
//					position: { my: "left bottom", at: "left+100 bottom-100", of: '#pb' },
//				    height: 350,
//				    width: 300,
//				    
//				    modal: true,
//				    buttons: {
//				        "OK": function() {
//				          $( this ).dialog( "close" );
//					    }
//				    }
//				});
//				
//				$( "#popup" ).html(
//					'<h5 class="center">You selected</h5> <p><h4 class="center">' +
//					'"I do not wish to participate"</h4></p>  <h5 class="center">Please close your browser!</h5>'
//				);
//			
//			}
//		}
		
		function login(){
			var location = "/page/login";
			window.location.href = location ;
		}
		
		function generateUserName(){
			var location = "/user/displayCreateUserPage";
			window.location.href = location ;
		}

		
		$( document ).ready(function() {
//	    	refreshPage();
		});
		
		
	</script>	
	
</head>
<body>

Allocation Game
<p>
Shortly you will receive 15 tokens worth of money. You must 
decide how many of the 15 tokens, if any, you wish to allocate 
to one of the two not-for-profit organizations below. You keep 
the tokens you choose not to allocate to the not-for-profit 
organization of your choice.  You may read more about each of 
the organizations by clicking on the appropriate link below. 
After making your decision, please select which of the two 
organizations you might prefer to allocate some of your tokens. 
</p>
<p>
Select one only.
</p>
<p>
<a href="/allocation/norml">NORML</a>
</p>
<p>
<a href="/allocation/dfk">Drug Free Kids</a>
</p>

<a href="/allocation/allocation1">When Ready - Proceed to next Page</a>

<div id='popup'>
</div>

</body>
</html>

