Allocation Game
<p>
Shortly you will receive 15 tokens worth of money. You must 
decide how many of the 15 tokens, if any, you wish to allocate 
to one of the two not-for-profit organizations below. You keep 
the tokens you choose not to allocate to the not-for-profit 
organization of your choice.  You may read more about each of 
the organizations by clicking on the appropriate link below. 
After making your decision, please select which of the two 
organizations you might prefer to allocate some of your tokens. 
</p>
<p>
Select one only.
</p>
<p>
<a href="<%=sails.getBaseUrl()%>/allocation/norml">NORML</a>
</p>
<p>
<a href="<%=sails.getBaseUrl()%>/allocation/dfk">Drug Free Kids</a>
</p>