
<html>
<head>
	<title>Demo 1 : Convert All Textareas</title>
	<link rel="stylesheet" href="/css/allocation.css" type="text/css" />
	<link rel="stylesheet" href="/css/button.css" type="text/css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script type="text/javascript">
		
		// ensure answer is not preselected
//		function refreshPage(){
//			$("input:radio[name='consent']").each(function(i) {
//			  this.checked = false;
//			});
//		}
		
//		function proceed(){
//			var value = $('input[name=consent]:checked', '#response').val();
//			console.log(value);
//			// ensure a value has been selected
//			if(typeof value === 'undefined'){
//				$( "#popup" ).dialog({
//					autoOpen: true,
//					resizable: false,
//					position: { my: "left bottom", at: "left+100 bottom-100", of: '#pb' },
//				    height: 300,
//				    width: 300,
//				    
//				    modal: true,
//				    buttons: {
//				        "OK": function() {
//				          $( this ).dialog( "close" );
//					    }
//				    }
//				});
//				
//				$( "#popup" ).html(
//					'<h5 class="center">Please select option</h5> <p><h4 class="center">' +
//					'"I agree to participate"</h4></p>  <h5 class="center">if you wish to proceed!</h5>'
//				);
//				
//			}else if (value == 1){
//				//login();
//				generateUserName();
//			}else{
//				$( "#popup" ).dialog({
//					autoOpen: true,
//					resizable: false,
//					position: { my: "left bottom", at: "left+100 bottom-100", of: '#pb' },
//				    height: 350,
//				    width: 300,
//				    
//				    modal: true,
//				    buttons: {
//				        "OK": function() {
//				          $( this ).dialog( "close" );
//					    }
//				    }
//				});
//				
//				$( "#popup" ).html(
//					'<h5 class="center">You selected</h5> <p><h4 class="center">' +
//					'"I do not wish to participate"</h4></p>  <h5 class="center">Please close your browser!</h5>'
//				);
//			
//			}
//		}
		
		function login(){
			var location = "/page/login";
			window.location.href = location ;
		}
		
		function generateUserName(){
			var location = "/user/displayCreateUserPage";
			window.location.href = location ;
		}

		
		$( document ).ready(function() {
//	    	refreshPage();
		});
		
		
	</script>	
	
</head>
<body>

-- image goes here --


<p>
NORML Canada declares that the criminal prohibition of the cultivation 
and use of cannabis is no longer the most suitable measure for protecting 
public health and welfare and preventing the diversion of drugs into 
illicit traffic. The legalization, regulation, and taxation of the 
substance represents the most suitable measure to accomplish those 
objectives. The organization aims to eliminate all civil and criminal 
penalties for private marijuana use – through government lobbying, 
public education, research, and legislative and judicial challenges. 
</p>

<ul>
	<li>
		Educate Canadians that it is the right of every adult to use, 
		possess, produce, and distribute cannabis. 
	</li>
	<li>
		Work towards a country where cannabis is fully legalized, 
		and its use, production, and distribution is properly regulated.
	</li>
	<li>
		Create a legal environment where both medical and 
		recreational users should have the right to grow their own cannabis. 
	</li>
</ul>


<p>
<a href="/allocation/intro">Intro Page</a>
</p>
<p>
<a href="/allocation/dfk">Drug Free Kids</a>
</p>



<div id='popup'>
</div>

</body>
</html>

