
<html>
<head>
	<title>Demo 1 : Convert All Textareas</title>
	<link rel="stylesheet" href="/css/allocation.css" type="text/css" />
	<link rel="stylesheet" href="/css/button.css" type="text/css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script type="text/javascript">
	
	var username = '<%= req.session.username %>';
		
	function getClickCounter(){
		path = "/userClick/find";
		var request= {
            action : path,
            username: username,
            page: 'norml',
            rand : Math.floor(Math.random()*100000)
        };
		
		$.get(path,  request,   function(data, status, xhr){
			if(data){
				console.log(data[0].clicks);
				$('#clicks').empty();
				$('#clicks').html(data[0].clicks);
			}
			
		}, "json");	
	}
  	

  	

			
	$( document ).ready(function() {
			getClickCounter();
	});	
		
		
	</script>	
	
</head>
<body>

<img src="/images/norml.png" alt="NORML" height="42" width="42">


<p>
NORML Canada declares that the criminal prohibition of the cultivation 
and use of cannabis is no longer the most suitable measure for protecting 
public health and welfare and preventing the diversion of drugs into 
illicit traffic. The legalization, regulation, and taxation of the 
substance represents the most suitable measure to accomplish those 
objectives. The organization aims to eliminate all civil and criminal 
penalties for private marijuana use – through government lobbying, 
public education, research, and legislative and judicial challenges. 
</p>

<ul>
	<li>
		Educate Canadians that it is the right of every adult to use, 
		possess, produce, and distribute cannabis. 
	</li>
	<li>
		Work towards a country where cannabis is fully legalized, 
		and its use, production, and distribution is properly regulated.
	</li>
	<li>
		Create a legal environment where both medical and 
		recreational users should have the right to grow their own cannabis. 
	</li>
</ul>


<p>
<a href="/allocation/intro">Intro Page</a>
</p>
<p>
<a href="/allocation/dfk">Drug Free Kids</a>
</p>

</p>
Clicks = <div id='clicks'></div>

<div id='popup'>
</div>

</body>
</html>

