<form id='response'>
	<div class='hundred'>
		<div class='container'>
		  <div  id="ngo_select1"  class='left ten txt_center_default_answer padding10_right'>
		  	
		  </div>
		  <div class="clear"></div>
		  <div class='clear spacer_twenty'></div>
		  <div id="ngo_select2" class='left ten txt_center_default_answer'>
		  	
		  </div>
	</div>
</form>
