<form id='response'>
<div class='hundred'>
	<div class='container'>
	  <div class='left ten txt_center_default_answer padding10_right'>
	  	<input type="radio" name="response" value="1">
	  	<b>Canadian Council on Animal Care</b>
	  	</div>
	  <div class='left ten txt_center_default_answer'>
	  	<input type="radio" name="response" value="2">
	  	<b>Animal Alliance of Canada</b>
	  </div>
</div>
</form>
