


<p>

<link rel="stylesheet" href="/css/table.css" type="text/css" />

<table style="width:100%">
  <tr>
    <th rowspan="2">Tokens Kept for Yourself</th>
    <th colspan="2">Payment for Self</th>
    <th rowspan="2">Tokens to <span class='ngo'></th>
    <th colspan="2">Donation to <span class='ngo'> </th>
  </tr>
  <tr>
    <th >Value of Token</th>
    <th ><b>Total Payment to You</b></th>
    <th >Value of Last Token</th>
    <th ><b>Total Donation</b></th>
  </tr>
  <tr>
    <td>15</td><td>$2</td><td>$30</td><td>0</td><td>-</td><td>$0.00</td>
  </tr>
  <tr>
    <td>14</td><td>$2</td><td>$28</td><td>1</td><td>$5.00</td><td>$5.00</td>
  </tr>
  <tr>
    <td>13</td><td>$2</td><td>$26</td><td>2</td><td>$4.70</td><td>$9.70</td>
  </tr>
  <tr>
    <td>12</td><td>$2</td><td>$24</td><td>3</td><td>$4.40</td><td>$14.10</td>
  </tr>
  <tr>
    <td>11</td><td>$2</td><td>$22</td><td>4</td><td>$4.10</td><td>$18.20</td>
  </tr>
  <tr>
    <td>10</td><td>$2</td><td>$20</td><td>5</td><td>$3.80</td><td>$22.00</td>
  </tr>
  <tr>
    <td>9</td><td>$2</td><td>$18</td><td>6</td><td>$3.50</td><td>$25.50</td>
  </tr>
  <tr>
    <td>8</td><td>$2</td><td>$16</td><td>7</td><td>$3.20</td><td>$28.70</td>
  </tr>
    <tr>
    <td>7</td><td>$2</td><td>$14</td><td>8</td><td>$2.90</td><td>$31.60</td>
  </tr>
    <tr>
    <td>6</td><td>$2</td><td>$12</td><td>9</td><td>$2.60</td><td>$34.20</td>
  </tr>
    <tr>
    <td>5</td><td>$2</td><td>$10</td><td>10</td><td>$2.30</td><td>$36.50</td>
  </tr>
    <tr>
    <td>4</td><td>$2</td><td>$8</td><td>11</td><td>$2.00</td><td>$38.50</td>
  </tr>
    <tr>
    <td>3</td><td>$2</td><td>$6</td><td>12</td><td>$1.70</td><td>$40.20</td>
  </tr>
    <tr>
    <td>2</td><td>$2</td><td>$4</td><td>13</td><td>$1.40</td><td>$41.60</td>
  </tr>
    <tr>
    <td>1</td><td>$2</td><td>$2</td><td>14</td><td>$1.10</td><td>$42.70</td>
  </tr>
     <tr>
    <td>0</td><td>$2</td><td>$0</td><td>15</td><td>$.80</td><td>$43.50</td>
  </tr>
</table>

</p>

