<html>
<head>
	<link rel="stylesheet" href="/css/answer.css" type="text/css" />
	<link rel="stylesheet" href="/css/question.css" type="text/css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="/scripts/jquery_shuffle.js"></script>
	
	<script>
		// global variables
		var QuestionNumber = 0;
		
		var answered = false;
		// questions to be displayed. Array is 
		// reordered on load to be randomized.
		var arr = [1,2,3,4,5,6,7,8];
		var MaxQuestions = arr.length;
		
		function saveAnswer(question, value){
		
			path = "/opinion/save" ;
			//console.log(path);	
		
			var request= {
	            action : path,
	            question: question,
	            value: value,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.post(path,  request,   function(data, status, xhr){
				//console.log(data); 
				if(!data.message_error){
					//findAnswer(question)
					$("input:radio[name='response']").each(function(i) {
				       this.checked = false;
					});
					// ensure the Question Number is not greater than the array
					if(QuestionNumber < arr.length){
						QuestionNumber = QuestionNumber + 1;
					}
					getQuestion(); 
				}else{
					console.log(data.message_error);
				}
				
			}, "json");	
		
		}
		
		function nextQuestion(){
			
			console.log('nextQuestion ' + QuestionNumber);
			var value = $('input[name=response]:checked', '#response').val();
			if(typeof value === 'undefined'){
				$( "#popup" ).dialog({
					dialogClass: "alert",
					  buttons: [
					    {
					      text: "Ok",
					      click: function() {
					        $( this ).dialog( "close" );
					      }
					    }
					  ]
				});
				$( "#popup" ).html('Please select one of the eight radio buttons to select a value!');
				return;
			}else{
				saveAnswer(arr[QuestionNumber], value);
			}
		}
		
		function previousQuestion(){
			console.log('previousQuestion ' + QuestionNumber);
			if( QuestionNumber === 0){
				QuestionNumber = 0;
			}else if (QuestionNumber == arr.length){
				QuestionNumber = QuestionNumber - 2;
			}else{
				QuestionNumber = QuestionNumber - 1;
			}
			console.log('QuestionNumber ' + QuestionNumber);
			getQuestionNumber(arr[QuestionNumber]);		
		}
		
		function getQuestionNumber(number){
				
				var path = "/question/" + number;
				//console.log(path);	
			
				var request= {
		            action : path,
		            rand : Math.floor(Math.random()*100000)
		        };
				
				$.get(path,  request,   function(data, status, xhr){
					var question = data.text;	
					$('#questionNumber').html(data.id);
					findAnswer(data.id);
			        setQuestion(question);   
				}, "json");	
			
		}
		
		function setQuestion(content){
			//console.log(content);
			$('#question').html(content);
			//QuestionNumber = QuestionNumber + 1;
		}
		
		function getQuestion(){
			
			var question = arr[QuestionNumber];
			console.log('getQuestion: QuestionNumber  ' + QuestionNumber + " MaxQuestions " + MaxQuestions);
			
			if(QuestionNumber < arr.length ){
				getQuestionNumber(question);	
			}else{
				console.log('Last Question');
				lastQuestionPopup();
			}
		}
		
		function lastQuestionPopup(question){
			$( "#popup" ).dialog({
				dialogClass: "alert",
				  buttons: [
				    {
				      text: "Ok",
				      click: function() {
				    	var location = "/allocation/intro";
						window.location.href = location ;
				      }
				    },
				    {
				    	text: "cancel",
					      click: function() {
					        $( this ).dialog( "close" );
					        getQuestionNumber(arr[QuestionNumber]);
					      }
				    }
				  ]
			});
			$( "#popup" ).html('You have reached the end of this portion of the Lab. Please press <h5>OK</h5> to proceed or cancel to review your answers.');
			return;
		}
		
//		function countQuestion(){
//				var path = "/countquestions/count";
//			
//				var request= {
//		            action : path,
//		            rand : Math.floor(Math.random()*100000)
//		        };
//				
//				$.post(path,  request,   function(data, status, xhr){	
//					//console.log(data);
//					
//					MaxQuestions = Number(data);
//					console.log(arr.length);
//					getQuestion();
//				}, "json");	
//			
//		}
		
		function findAnswer(question){
				path = "/opinion/find" ;
				var request= {
		            action : path,
		            question: question,
		            rand : Math.floor(Math.random()*100000)
		        };
				
				$.post(path,  request,   function(data, status, xhr){	
					if(data.length>0 && data[0].question){
						//console.log('inside if');
						//console.log(data[0].value);
						$('input[name=response]', '#response').each(function(index, value){
							//console.log(index);
							if($(this).attr('value')==data[0].value){
								this.checked = true;
							}
						});
					}else{
						$('input[name=response]', '#response').each(function(index, value){
							this.checked = false;
						});
					}
				}, "json");	
		}
		
		$( function() {
		    $( "#dialog" ).dialog();
		  } );
		
		$( document ).ready(function() {
			
	    	//countQuestion();
	    	
	    	arr = $.shuffle(arr);
	    	getQuestionNumber(arr[0]);
	    	console.log(arr);
		});
	
	
	</script>
	

</head>
<body>
	<div class = 'text600'>
		<div id='question' class='question_display_div'>
		</div>
		<hr/>

		<%- partial('../../../layout/answer/default_answer') %>
		<hr/>
		<br/>
		<div class='hundred button_height '>
			<div class='ninety'>
				 <a href="#" onclick="previousQuestion()" class="fifty_w_h left button dark_grey "><div class="center_text">Previous Question</div></a>
				
				 <a href="#" onclick="nextQuestion()" class="fifty_w_h  right button dark_grey "><div class="center_text">Next Question</div></a>
			</div>
		</div>
		<div class = 'after_left'></div>
		<br/>
	
	</div>
	<div id='popup'>
		
	</div>
</body>
</html>