<html>
<head>
	<title>Demo 1 : Convert All Textareas</title>
	<link rel="stylesheet" href="/css/test1.css" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
	<script type="text/javascript">
		var QuestionNumber = 0;
		var MaxQuestions;
	
		bkLib.onDomLoaded(function() { 
				area2 = new nicEditor({fullPanel : true}).panelInstance('myArea2');
		});
		
		function getQuestion(){
			var location = "/page/answer_edit?question="  + QuestionNumber;
			window.location.href = location ;
		}
		
	</script>	
	
	

</head>
<body>
<div id="sample" class='text600'>
<h4 class='left'>Question <span id='questionNumber'></span>:</h4>
<div class = 'after_left'></div>
<br />
<br />
<div class='hundred button_height'>
	<a href="#" onclick="editAnswer()" class="fifty_w_h right button dark_grey"><div class="center_text">Edit Question</div></a>
</div>	
<br />
<br />
<textarea id='myArea2' class='text600' name="area1" cols="40"></textarea>
<br />
<br />

<div class='hundred button_height'>
	<div class='spacer_fifty'>&nbsp;</div><a href="#" onclick="saveAnswer()" class="fifty left button dark_grey"><div class="center_text">Save Question</div></a>
</div>	
<div class = 'after_left'></div>
<br />
<br />	
<hr>	
<br /> 

<br />
<br />


<div class = 'after_left'></div>
<div id='hiddenDiv' class='hidden'></div>
</div>
</body>
</html>