


<p>

<link rel="stylesheet" href="/css/my_earnings_table.css" type="text/css" />

<table style="width:100%" class='data'>
	<tr>
	  <td class='cell data'>Time Period</td><td class='cell data'>Click Value</td><td class='cell data'>Count</td><td class='cell data'>Amount Earned</td>
	</tr>	
	<tr>
	  <td class='cell data'>1st 30 seconds</td><td class='cell data'>$0.015</td><td id='1_30_a' class='cell data'></td><td id='1_30_b' class='cell data'></td>
	</tr>
	<tr>
	  <td class='cell data'>2nd 30 seconds</td><td class='cell data'>$0.0125</td><td id='2_30_a' class='cell data'></td><td id='2_30_b' class='cell data'></td>
	</tr>
	<tr>
	  <td class='cell data'>3rd 30 seconds</td><td class='cell data'>$0.01</td><td id='3_30_a' class='cell data'></td><td id='3_30_b' class='cell data'></td>
	</tr>
	<tr>
	  <td class='cell data'>4th 30 seconds</td><td class='cell data'>$0.0075<td id='4_30_a' class='cell data'></td><td id='4_30_b' class='cell data'></td>
	</tr>
	<tr>
	  <td class='cell data'>5th 30 seconds</td><td class='cell data'>$0.005</td><td id='5_30_a' class='cell data'></td><td id='5_30_b' class='cell data'></td>
	</tr>
	<tr>
	  <td class='cell data'>6th 30 seconds</td><td class='cell data'>$0.0025</td><td id='6_30_a' class='cell data'></td><td id='6_30_b' class='cell data'></td>
	</tr>
	<tr id='total_row'>
	  <td id='total_clicks'  colspan="2"></td><td id='amount_earned' colspan="2"></td>
	</tr>

</table>

</p>

