


<p>

<link rel="stylesheet" href="/css/my_earnings_table.css" type="text/css" />

<table style="width:100%">
	<tr>
	  <td class='cell'>Time Period</td><td class='cell'>Click Value</td><td class='cell'>Count</td><td class='cell'>Amount Earned</td>
	</tr>	
	<tr>
	  <td class='cell'>1st 30 seconds</td><td class='cell'>$0.015</td><td id='1_30_a' class='cell'></td><td id='1_30_b' class='cell'></td>
	</tr>
	<tr>
	  <td class='cell'>2nd 30 seconds</td><td class='cell'>$0.0125</td><td id='2_30_a' class='cell'></td><td id='2_30_b' class='cell'></td>
	</tr>
	<tr>
	  <td class='cell'>3rd 30 seconds</td><td class='cell'>$0.01</td><td id='3_30_a' class='cell'></td><td id='3_30_b' class='cell'></td>
	</tr>
	<tr>
	  <td class='cell'>4th 30 seconds</td><td class='cell'>$0.0075<td id='4_30_a' class='cell'></td><td id='4_30_b' class='cell'></td>
	</tr>
	<tr>
	  <td class='cell'>5th 30 seconds</td><td class='cell'>$0.005</td><td id='5_30_a' class='cell'></td><td id='5_30_b' class='cell'></td>
	</tr>
	<tr>
	  <td class='cell'>6th 30 seconds</td><td class='cell'>$0.0025</td><td id='6_30_a' class='cell'></td><td id='6_30_b' class='cell'></td>
	</tr>
	<tr id='total_row'>
	  <td id='total_clicks'  colspan="2"></td><td id='amount_earned' colspan="2"></td>
	</tr>

</table>

</p>

