


<p>

<link rel="stylesheet" href="/css/my_earnings_table.css" type="text/css" />

<table style="width:100%">

  <tr>
    <td class='cell'>1st 30 seconds</td><td class='cell'>$0.015</td><td id='1_30_a' class='cell'></td><td id='1_30_b' class='cell'></td>
  </tr>
  <tr>
    <td>2nd 30 seconds</td><td>$0.0125</td><td></td><td></td>
  </tr>
  <tr>
    <td>3rd 30 seconds</td><td>$0.01</td><td></td><td></td>
  </tr>
  <tr>
    <td>4th 30 seconds</td><td>$0.0075</td><td></td><td></td>
  </tr>
  <tr>
    <td>5th 30 seconds</td><td>$0.005</td><td></td><td></td>
  </tr>
  <tr>
    <td>6th 30 seconds</td><td>$0.0025</td><td></td><td></td>
  </tr>


</table>

</p>

