<table class='hundred'>
	<tr class='hundred'>
		<td class='cell_a'></td>
		<td class='cell_b'>Performance</td>
		<td class='cell_c'>Payment to You</td>
		<td id='donate_a' class='cell_d'>Donation to <br/>NGO1</td>
		<td id='donate_b' class='cell_e'>Donation to <br/>NGO2</td>
	</tr>
	<tr class='hundred'>
		<td class='cell_a'>Pre-experiment Survey</td>
		<td class='cell_b center'>Completed</td>
		<td class='cell_c center'>$5</td>
		<td id='donate_a' class='cell_d'></td>
		<td id='donate_b' class='cell_e'></td>
	</tr>
	<tr class='hundred'>
		<td class='cell_a'>Show-up Fee today</td>
		<td class='cell_b center'>Completed</td>
		<td class='cell_c center'>$2</td>
		<td id='donate_a' class='cell_d'></td>
		<td id='donate_b' class='cell_e'></td>
	</tr>
	<tr class='hundred'>
		<td class='cell_a'>1st allocation game (if chosen to implement)</td>
		<td class='cell_b center' id='my_al_tokens'></td>
		<td class='cell_c center' id='my_al_amount'></td>
		<td class='cell_d center' id='ngo_al_tokens'></td>
		<td class='cell_e center' id='ngo_al_amount'></td>
	</tr>
	<tr class='hundred'>
		<td class='cell_a'>2nd allocation game (if chosen to implement)</td>
		<td class='cell_b center' id='my2_al_tokens'></td>
		<td class='cell_c center' id='my2_al_amount'></td>
		<td class='cell_d center' id='ngo2_al_tokens'></td>
		<td class='cell_e center' id='ngo2_al_amount'></td>
	</tr>
	<tr class='hundred'>
		<td class='cell_a'>Practice round</td>
		<td class='cell_b center' id='pr_clicks'></td>
		<td class='cell_c center' id='pr_amount'></td>
		<td class='cell_d'></td>
		<td class='cell_e'></td>
	</tr>
	<tr class='hundred'>
		<td class='cell_a'>Round 1 (chosen)</td>
		<td class='cell_b'></td>
		<td class='cell_c'></td>
		<td class='cell_d'></td>
		<td class='cell_e'></td>
	</tr>
	<tr class='hundred'>
		<td class='cell_a'>Round 2</td>
		<td class='cell_b'></td>
		<td class='cell_c'></td>
		<td class='cell_d'></td>
		<td class='cell_e'></td>
	</tr>
	<tr class='hundred'>
		<td class='cell_a'>Round 3 (chosen)</td>
		<td class='cell_b'></td>
		<td class='cell_c'></td>
		<td class='cell_d'></td>
		<td class='cell_e'></td>
	</tr>
	<tr class='hundred'>
		<td class='cell_a'>Round 4</td>
		<td class='cell_b'></td>
		<td class='cell_c'></td>
		<td class='cell_d'></td>
		<td class='cell_e'></td>
	</tr>
	<tr id='bonus_row' class='hundred'>
		<td class='cell_a'>Bonus_Type Bonus</td>
		<td class='cell_b'></td>
		<td class='cell_c'></td>
		<td class='cell_d'></td>
		<td class='cell_e'></td>
	</tr>
	<tr class='hundred'>
		<td class='cell_a'>Total</td>
		<td class='cell_b'></td>
		<td class='cell_c'></td>
		<td class='cell_d'></td>
		<td class='cell_e'></td>
	</tr>
</table>