<table class='hundred'>
	<tr class='hundred'>
		<td class='cell_a'></td>
		<td class='cell_b'>Performance</td>
		<td class='cell_c'>Payment to You</td>
		<td id='donate_a' class='cell_d'>Donation to <br/>NGO1</td>
		<td id='donate_b' class='cell_e'>Donation to <br/>NGO2</td>
	</tr>
	<tr class='hundred'>
		<td class='cell_a'>Pre-experiment Survey</td>
		<td class='cell_b center'>Completed</td>
		<td class='cell_c center green'>$ 5.00</td>
		<td id='donate_a' class='cell_d'></td>
		<td id='donate_b' class='cell_e'></td>
	</tr>
	<tr class='hundred'>
		<td class='cell_a'>Show-up Fee today</td>
		<td class='cell_b center'>Completed</td>
		<td class='cell_c center green'>$ 2.00</td>
		<td id='donate_a' class='cell_d'></td>
		<td id='donate_b' class='cell_e'></td>
	</tr>
	<tr class='hundred' >
		<td class='cell_a'>1st allocation game (if chosen to implement)</td>
		<td class='cell_b center' id='my_al_tokens'></td>
		<td class='cell_c center' id='my_al_amount'></td>
		<td class='cell_d center' id='ngo1_1'></td>
		<td class='cell_e center' id='ngo2_1'></td>
	</tr>
	<tr class='hundred'  >
		<td class='cell_a'>2nd allocation game (if chosen to implement)</td>
		<td class='cell_b center' id='my2_al_tokens'></td>
		<td class='cell_c center' id='my2_al_amount'></td>
		<td class='cell_d center' id='ngo1_2'></td>
		<td class='cell_e center' id='ngo2_2'></td>
	</tr>
	<tr class='hundred'>
		<td class='cell_a'>Practice round</td>
		<td class='cell_b center' id='pr_clicks'></td>
		<td class='cell_c center' id='pr_amount'></td>
		<td class='cell_d'></td>
		<td class='cell_e'></td>
	</tr>
	<tr class='hundred'>
		<td class='cell_a' id='round1'></td>
		<td class='cell_b' id='round1_1'></td>
		<td class='cell_c' id='round1_2'></td>
		<td class='cell_d' id='round1_3'></td>
		<td class='cell_e' id='round1_4'></td>
	</tr>
	<tr class='hundred'>
		<td class='cell_a' id='round2'></td>
		<td class='cell_b' id='round2_1'></td>
		<td class='cell_c' id='round2_2'></td>
		<td class='cell_d' id='round2_3'></td>
		<td class='cell_e' id='round2_4'></td>
	</tr>
	<tr class='hundred'>
		<td class='cell_a' id='round3'></td>
		<td class='cell_b' id='round3_1'></td>
		<td class='cell_c' id='round3_2'></td>
		<td class='cell_d' id='round3_3'></td>
		<td class='cell_e' id='round3_4'></td>
	</tr>
	<tr class='hundred'>
		<td class='cell_a' id='round4'></td>
		<td class='cell_b' id='round4_1'></td>
		<td class='cell_c' id='round4_2'></td>
		<td class='cell_d' id='round4_3'></td>
		<td class='cell_e' id='round4_4'></td>
	</tr>
	<tr id='bonus_row' class='hundred'>
		<td class='cell_a'>Bonus_Type Bonus</td>
		<td class='cell_b' id='session_type'></td>
		<td class='cell_c' id='session_bonus'></td>
		<td class='cell_d'></td>
		<td class='cell_e'></td>
	</tr>
	<tr class='hundred'>
		<td class='cell_a'>Total</td>
		<td class='cell_b'></td>
		<td class='cell_c' id='my_total'></td>
		<td class='cell_d' id='ngo1_total'></td>
		<td class='cell_e' id='ngo2_total'></td>
	</tr>
</table>