
<p>
<form id='response'>
<div class='hundred'>
	<div class='container'>
	  <p>
	  <div class='left ten txt_center_default_answer'>
	  	<div>
	  	I would keep :<input id='myself' type="text"  > &nbsp;for myself
	  	<div id='answer0' class='inline'></div>
	  	</div>
	  </div>
	  </p>
	  
	  <div class = 'clear'></div>
	  <div class = 'clear'></div>
	  <p>
	  <div class='left ten txt_center_default_answer'>
	  	<div>
	  	I would give :<input id='donate' type="text"  > &nbsp;to <span class='ngo'></span>
	  	<div  id='answer1' class='inline'></div>
	  	</div>
	  </div>
	  </p>
	  <p>
	 
	</div>
</div>
<div class = 'after_left'></div>

</div>
</form>
</p>
<p>
<div class = 'h30'></div>
</p>
