
<p>
<form id='response'>
<div class='hundred'>
	<div class='container'>
	  <p>
	  <div class='center ten txt_center_default_answer'>
	  	<div>
	  	A:<input  type="radio" onclick="check_answer(1)" name="response" value="1">
	  	<div id='answer0' class='inline'></div>
	  	</div>
	  </div>
	  </p>
	  <p>
	  <div class='center ten txt_center_default_answer'>
	  	<div>
	  	B:<input  type="radio"  onclick="check_answer(2)"  name="response" value="2">
	  	<div  id='answer1' class='inline'></div>
	  	</div>
	  </div>
	  </p>
	  <p>
	  <div class='center ten txt_center_default_answer'>
	  	C:<input  type="radio"  onclick="check_answer(3)"  name="response" value="3">
	  	<div  id='answer2' class='inline'></div>
	  </div>
	  </p>
	</div>
</div>
<div class = 'after_left'></div>

</div>
</form>
</p>
</br>
</br>
</br>
</br>
<hr/>