<!doctype html>
<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>jQuery UI Datepicker - Default functionality</title>
	  <link rel="stylesheet" href="/css/schedule.css" type="text/css" />
	  <link rel="stylesheet" href="/css/button.css" type="text/css" />
	  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	  <script>
	  		
		  	function gotoConsent(){
		  		var location = "<%=sails.getBaseUrl()%>/consent/cp";
				window.location.href = location ;
		  	}
		  	
		  	
			$( document ).ready(function() {
				getSessionUser();
			});
	  </script>
	</head>
	<body>
		<div class='hundred center'><h2>Welcome to WLU </h2></div>
		<div class='vertical_spacer_ten'></div>
	 	<div class='vertical_spacer_ten'></div>
		<div class='vertical_spacer_ten'></div>
		<div id='session_info' class='vertical_spacer_ten'></div>
		<div id='session_data'>
		</div>
		
		<div class='hundred button_height '>
			<div class='hundred left25'>
				 <a id='emailer' href="#" onclick="gotoConsent()" class="thirty fifty_w_h  left button dark_grey "><div class="center_text">Proceed to Next Page</div></a>
			</div>
		</div>
	 	<div id='popup'>
		</div>
	</body>
</html>