.left{
	float: left;
}

.ten{
	width: 13.7%;
}

.hundred{
	width:100%;
	height: 30px;
}

.container{
	width: 90%;
	margin: 0 auto;
	height: 90%;
}

.txt_center_default_answer{
	text-align: center;
	height: 50px;
}

.after_left{
	clear: left;
	clear: right;
}

.empty_radio_spacer{
	width:20%;
	height:100%;
}

.spacer_twenty{
	width: 26%;
	height:10px;
}