body{
	max-width: 900px;
	margin: 0 auto;
	padding: 5%;
	font-size: 120%;
	font-family: 'arial';
}	
	

.center{
	text-align: center;
	
}

.hundred{
	width: 100%;
}

.left{
	float: left;
}
.right{
	float: right;
}

.hidden{
	visibility: hidden;
}

.vertical_spacer_ten{
	height:10px;	
}
