body{
	max-width: 900px;
	margin: 0 auto;
	padding: 5%;
	font-size: 80%;
	font-family: 'arial';
}	

table{
	border-collapse: collapse;
	width: 100%;
}
	
.c1{
	width: 3%;
}
.c2{
	width: 18%;
}
.center{
	text-align: center;
	
}

.session_users{
	padding-bottom: 10px;
}

.padding_left25{
	padding-left:25px;
}
.hundred{
	width: 100%;
}
.left{
	float: left;
}

.blue{
	color: blue;
}

.left25{
	position: absolute;
	left: 35%;
}
.right{
	float: right;
}

.hidden{
	visibility: hidden;
}

.vertical_spacer_ten{
	height:10px;	
}

.cell1{
	width: 6%;
}

.cell_id{
	width: 2%;
}

.cell{
	width: 5%;
}

.green{
	color: green;
}

.cell2{
	width: 17%;
}

.cell3{
	width: 10%;
}

.cell4{
	width: 35%;
}

.cell_st{
	width: 20%;
}

.m_cell{
	width: 2%;
}

.v_cell{
	width: 3%;
}

.cp{
	padding: 1%;
}
.clear{
	clear:both;
}

.red{
	color: red;
}

.small_txt{
		font-size: 60%;	
}

.thirty{
	max-width: 30%;
}


table{
	border-collapse: collapse;
	width: 100%;
}

.padding-top-button{
	padding-top: 10px;
}

.radio_w{
	width: 33%;
}