
table.data, th.data, td.data {
    border: 1px solid black;
    border-collapse: collapse;
}
th.data, td.data {
    padding: 5px;
    text-align: left;    
}

table.timer_table, th.timer_table, td.timer_table {
    border: 0px;
    border-collapse: collapse;
    font-weight: bold;
    
}
th.timer_table, td.timer_table {
    padding: 5px;
    text-align: left;    
    font-weight: bold;
}