#question{
	height: 200px;
}

.question_display_div{
	padding:40px;
}

.text600{
	
	width: 700px;
	
    margin: 0 auto;
    border: solid 2px;
    border-radius: 5px;
    
}

body{
	padding-top: 60px;
}

.hundred{
	width: 100%;
}

.left{
	float: left;
}
.right{
	float: right;
}

.after_left{
	clear: left;
	clear: right;
}

.center_text{
	width: 100%;
	text-align: center;
	padding-top: 4px;
}

.fifty_w_h {
	width: 45%;
}

.button_height{
	height: 30px;
}

.ninety{
	width: 90%;
	padding-left:5%;
}

.padding_left_5{
	padding-left: 5px;
}

.padding_right_5{
	padding-right: 5px;
}

a.button.dark_grey {
    background: #d1d1d1;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#d1d1d1), to(#afafaf));
    background: -moz-linear-gradient(#d1d1d1, #afafaf);
    background: linear-gradient(#d1d1d1, #afafaf);
    border: solid 1px #b4b4b4;
    border-radius: 5px;
    border-bottom: solid 3px #878787;
    box-shadow: inset 0 0 0 1px #e3e3e3;
    color: #555;
    text-shadow: 0 1px 0 #d6d6d6;
    text-decoration: none;
    }
    
a.button.dark_grey:hover {
    background: #b7b7b7;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#b7b7b7), to(#c2c2c2));
    background: -moz-linear-gradient(#b7b7b7, #c2c2c2);
    background: linear-gradient(#b7b7b7, #c2c2c2);
    border: solid 1px #a2a2a2;
    border-radius: 5px;
    border-bottom: solid 3px #878787;
    box-shadow: inset 0 0 0 1px #d4d4d4; 
    }
    
a.button.dark_grey:active {
    background: #afafaf;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#afafaf), to(#a9a9a9));
    background: -moz-linear-gradient(#afafaf, #a9a9a9);
    background: linear-gradient(#afafaf, #a9a9a9);
    border: solid 1px #757575;
    border-radius: 5px;
    box-shadow: inset 0 10px 15px 0 #9a9a9a; 
    }