<table id='session_table'>
	<tr class='row'>
		<td class='cell_id'>#</td>
		<td class='cell1 center'><b>DATE</b></td>
		<td class='cell center'><b>TIME</b></td>
		<td class='m_cell center'><b>MAX</b></td>
		<td class='v_cell center'><b>view(v)<br/>del(x)</b></td>
		<td class='cell_st center '><b>SESSION TYPE</b></td>
	</tr>
</table>