<table id='user_table' class='hundred'>
	<tr class='row'>
		<td class='center'><b>Username</b></td>
		<td class='center'><b>Email</b></td>
		<td class='center'><b>Choice 1<br/>NGO</b></td>
		<td class='center'><b>Choice 2<br/>NGO</b></td>
		<td class='center'><b>Change NGO</b></td>
	</tr>
</table>