<table id='user_table' class='hundred'>
	<tr class='row'>
		<td class='center'><b>Seat</b></td>
		<td class='center'><b>Username</b></td>
		<td class='center'><b>User Selected<br/>NGO</b></td>
		<td class='center'><b>Click 1<br/>NGO</b></td>
		<td class='center'><b>Change NGO</b></td>
	</tr>
</table>