<table id='user_ngo2_amount_table' class='hundred'>
	<tr class='row hundred'>
		<td class='center c1'><b>#</b></td>
		<td class='center c2'><b>Username</b></td>
		<td class='center'><b>a1</b></td>
		<td class='center'><b>a2</b></td>
		<td class='center'><b>a3</b></td>
		<td class='center'><b>a4</b></td>
		<td class='center'><b>a5</b></td>
		<td class='center'><b>a6</b></td>
		<td class='center'><b>c1</b></td>
		<td class='center'><b>c2</b></td>
		<td class='center'><b>c3</b></td>
		<td class='center'><b>c4</b></td>
		<td class='center'><b>c5</b></td>
		<td class='center'><b>c6</b></td>
		<td class='center'><b>c-total</b></td>
		<td class='center'><b>Total</b></td>
	</tr>
</table>