<html>
<head>
	<title>Demo 1 : Convert All Textareas</title>
	<link rel="stylesheet" href="/css/consent.css" type="text/css" />
	<link rel="stylesheet" href="/css/button.css" type="text/css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script type="text/javascript">
		
		// ensure answer is not preselected
		function refreshPage(){
			$("input:radio[name='consent']").each(function(i) {
			  this.checked = false;
			});
		}
		
		function proceed(){
			var value = $('input[name=consent]:checked', '#response').val();
			console.log(value);
			// ensure a value has been selected
			if(typeof value === 'undefined'){
				$( "#popup" ).dialog({
					autoOpen: true,
					resizable: false,
					position: { my: "left bottom", at: "left+100 bottom-100", of: '#pb' },
				    height: 300,
				    width: 300,
				    
				    modal: true,
				    buttons: {
				        "OK": function() {
				          $( this ).dialog( "close" );
					    }
				    }
				});
				
				$( "#popup" ).html(
					'<h5 class="center">Please select option</h5> <p><h4 class="center">' +
					'"I agree to participate"</h4></p>  <h5 class="center">if you wish to proceed!</h5>'
				);
				
			}else if (value == 1){
				//login();
				generateUserName();
			}else{
				$( "#popup" ).dialog({
					autoOpen: true,
					resizable: false,
					position: { my: "left bottom", at: "left+100 bottom-100", of: '#pb' },
				    height: 350,
				    width: 300,
				    
				    modal: true,
				    buttons: {
				        "OK": function() {
				          $( this ).dialog( "close" );
					    }
				    }
				});
				
				$( "#popup" ).html(
					'<h5 class="center">You selected</h5> <p><h4 class="center">' +
					'"I do not wish to participate"</h4></p>  <h5 class="center">Please close your browser!</h5>'
				);
			
			}
		}
		
		function login(){
			var location = "<%=sails.getBaseUrl()%>/page/login";
			window.location.href = location ;
		}
		
		function generateUserName(){
			var location = "<%=sails.getBaseUrl()%>/user/displayCreateUserPage";
			window.location.href = location ;
		}

		
		$( document ).ready(function() {
	    	refreshPage();
		});
		
		
	</script>	
	
</head>
<body>
<br/>
<br/>
<br/>
<div class='hundred'>
	<h2 class='center'>Consent of Participant</H2>
</div>


<p>
You are invited to participate in a research study conducted by Dr. Leslie Berger, Dr. Bradley Ruffle, 
and Dr. Lan Guo. Your participation is critical in helping us learn more about people&#39;s performance in 
a work task when they are paid performance incentives. 
<p/>
<p>
Participation in this study is voluntary. You may withdraw your participation 
at any time during the study and you may decline to answer any question. There are 
slight foreseeable risks associated with this study including social and psychological risks. 
To mitigate these risks your performance will remain confidential and you will be paid in private 
at the end of the study. The results of this study are expected to benefit practitioners that set 
incentive contracts for employees within organizations. 
<p/>
<p>
If you decide to participate, you will be asked to first complete a survey immediately after you 
consent to participate, and then in a week you will be asked to complete a task consisting of 
licking computer keys at a computer lab on campus. Further, you will be asked to answer some questions c
apturing your reactions to your task as well as some general demographic questions such as your age and 
work experience. 
</p>
<p>
Participants will receive monetary remuneration based on their performance in the key clicking task 
(details will be outlined during the study). Participants may earn anywhere between $7 and $22 for 
their participation. Please note that any amounts that you receive from participating in this study 
are taxable and it is your responsibility to report the amount received for income tax purposes. 
Your participation in the online survey portion of the study will take approximately 10 minutes and 
your participation in completing the task at the lab will take approximately 35-40 minutes. If you 
withdraw from the study prior to its completion of the lab experiment, you will receive compensation 
of $5. 
</p>
<p>
If you choose to participate, you will be assigned a unique username on completion of the survey. The 
username will not be associated with your real name in the database and it is used to ensure the confidentiality 
and anonymity of your responses in the database. Your responses to the survey will be immediately separated from 
any identifying information in our database. We will create a file that links your e-mail address to your assigned 
user name. The sole purpose of this information is to provide a mechanism to look-up your user name in the event 
that you misplace or forget it. Any information that you provide will be confidential. All of the data will be 
summarized and no individual could be identified from these summarized results. Furthermore, the web site is 
programmed to collect responses alone and will not collect any information that could potentially identify you. 
</p>
<p>
The data, with no personal identifiers, collected from this study will be maintained on a password-protected 
computer database in a restricted access area of the university. As well, the data will be electronically archived 
after completion of the study and maintained indefinitely. 
</p>
<p>
Should you have any questions about the study please contact Dr. Leslie Berger at lberger@wlu.ca or Dr. Lan Guo 
at laguo@wlu.ca. The results of this study will be disseminated in a journal article. If you wish to receive a 
copy of this article when it is published, please contact Dr. Leslie Berger at lberger@wlu.ca. 
</p>
<p>
We would like to assure you that this study has been reviewed and received ethics clearance through the University 
Research Ethics Board at Wilfrid Laurier University. However, the final decision about participation is yours. If you 
have any comments or concerns resulting from your participation in this study, please feel free to contact Dr. 
Robert Basso, Chair, University Research Ethics Board, Wilfrid Laurier University, (519) 884-1970, extension 4994 
or rbasso@wlu.ca. 
</p>
<p>
Thank you for your interest in our research and for your assistance with this project.
I have read the information presented in the information letter about a study being conducted by Dr. Leslie Berger, 
Dr. Lan Guo, and Dr. Bradley Ruffle. I agree, of my own free will, to participate in this study.
</p>
<div class='vertical_spacer_ten'></div>
<div class='vertical_spacer_ten'></div>

<form id='response'>
<p>

<input type="radio" name="consent" value="1">I agree to participate.
</p>
<p>
<input type="radio" name="consent" value="0">I do not wish to participate (please close your web browser now).
</p>
</form>
<div class='vertical_spacer_ten'></div>
<div class='vertical_spacer_ten'></div>
<div class='vertical_spacer_ten'></div>
<div class='hundred button_height '>
	<div class='ninety'>
		 <a href="#" onclick="previousQuestion()" class="fifty_w_h left button dark_grey hidden"><div class="center_text">Previous Question</div></a>
		
		 <a id='pb' href="#" onclick="proceed();return false;" class="fifty_w_h  right button dark_grey "><div class="center_text">Next Question</div></a>
	</div>
</div>
<div class='vertical_spacer_ten'></div>
<div class='vertical_spacer_ten'></div>
<div id='popup'>
</div>

</body>
</html>

