<p>Dear <%=to_email%>,</p>
<br/>
<p><em>Thank you</em> for signing up for the WLU session.</p>
<p>Your session is scheduled for,<br/><%=session_date%> @ <%=session_time%></p>

<p>Best Regards,</p>
<p>The WLU team</p>