<p>Dear <%=email%>,</p>
<br/>
<p><em>Thank you</em> for signing up for the WLU session.</p>
<p>Your session is scheduled for,<br/><%=sessionDate%> @ <%=sessionTime%></p>

<p>Best Regards,</p>
<p>The WLU team</p>