<html>
<head>
	<title>Demo 1 : Convert All Textareas</title>
	<link rel="stylesheet" href="/css/test1.css" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
	<script type="text/javascript">
		
		bkLib.onDomLoaded(function() { 
				area2 = new nicEditor({fullPanel : true}).panelInstance('myArea2');
		});
		
		function getQuestion(){
			var area2 = new nicEditors.findEditor('myArea2');
			question = area2.getContent();
			
			return question;
		}
		
		function nextQuestion(){
			alert('nextQuestion');
		}
		
		function previousQuestion(){
			alert('previousQuestion');
		}
		
		function createQuestion(){
				console.log("question");
				var path = "/question";
				console.log(path);	
				var question = getQuestion();
				console.log(question);
			
				var request= {
		            action : path,
		     		text: question,
		            rand : Math.floor(Math.random()*100000)
		        };
				
				$.post(path,  request,   function(data, status, xhr){	
					console.log('done');
				}, "json");	
		}
		
		function countQuestion(){
				var path = "/countquestions/count";
			
				var request= {
		            action : path,
		            rand : Math.floor(Math.random()*100000)
		        };
				
				$.post(path,  request,   function(data, status, xhr){	
					console.log(data);
					$('#questionNumber').html(data);
				}, "json");	
			
		}
		
		$( document ).ready(function() {
	    	console.log( "ready!" );
	    	countQuestion();
	    	
		});
		
	</script>	
	
	

</head>
<body>
<div id="sample" class='text600'>
<h4>Question <span id='questionNumber'></span>:</h4>
<textarea id='myArea2' class='text600' name="area1" cols="40"></textarea>
<br />
<br />

<div class='hundred button_height'>
	<div class='spacer_fifty'>&nbsp;</div><a href="#" class="fifty left button dark_grey"><div class="center_text">Save Question</div></a>
	
<br />
<br />	
<hr>	
<br /> 

<br />
<br />

<div class='hundred button_height'>
	 <a href="#" class="fifty left button dark_grey"><div class="center_text">Previous</div></a>
	
	 <a href="#" class="fifty  right button dark_grey"><div class="center_text">Next</div></a>
	
</div>
<div class = 'after_left'></div>
</div>




</body>
</html>