<html>
<head>
	<title>Demo 1 : Convert All Textareas</title>
	<link rel="stylesheet" href="/css/allocation.css" type="text/css" />
	<link rel="stylesheet" href="/css/button.css" type="text/css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script type="text/javascript">
	var nextPage;
	                                                                                                                                                                                                         	
	function next(){
		var location = "/page/" + question;
		window.location.href = location ;
	}
			
	$( document ).ready(function() {
		next();
	});
		
		
	</script>
	
</head>
<body>
</body>
</html>