<html>
<head>
	<link rel="stylesheet" href="/css/after_practice.css" type="text/css" />
	<link rel="stylesheet" href="/css/button.css" type="text/css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script>
		// global variables
		var QuestionNumber = 0;
		var MaxQuestions;
		var answered = false;
		var nextPage;
		

		function getNextPage(){
			
			var path = "/user_page_order/find";
			var request= {
	            action : path,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.get(path,  request,   function(data, status, xhr){
				if(data[0].page1){
					console.log(data[0].page1);
					nextPage = data[0].page1;
				}
			}, "json");	
		}
		
		function next(){
			var location = "/session2/" + nextPage;
			window.location.href = location ;
		}
		
		function createAmountTracker(){
			
			var path = "/amount_tracker/create";
			var request= {
	            action : path,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.get(path,  request,   function(data, status, xhr){
				if(data){
					console.log(data);
				}
			}, "json");	
		}
		
		function nextQuestion(){
			QuestionNumber = QuestionNumber + 1;
			if(QuestionNumber < MaxQuestions){
				getQuestionNumber(QuestionNumber);	
			}else{
				next();
			}
		}
		
		function findNgo(question){
			var path = "/Ngo_Choice1/find";
			var request= {
	            action : path,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.get(path,  request,   function(data, status, xhr){
				if(data){
					var ngo = data.ngo;	
					var ngo = ngo.name;
					question = question.replace('NGO', ngo);
					setQuestion(question); 
				}
			}, "json");	
		} 
		
		function getQuestionNumber(number){
				
			var path = "/ag_bullets/" + number;
		
			var request= {
	            action : path,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.get(path,  request,   function(data, status, xhr){
				var question = data.text;	
				question = question.replace();
				$('#questionNumber').html(data.id);
		    	findNgo(question);
		          
			}, "json");	
			
		}
		
		function setQuestion(content){
			$('#question').html(content);
		}
		
		function getQuestion(){
			if(MaxQuestions && QuestionNumber < MaxQuestions){
				//console.log('here');
				QuestionNumber = QuestionNumber + 1;
				getQuestionNumber(QuestionNumber);
			}else if(MaxQuestions && QuestionNumber == MaxQuestions) {
				console.log('Last Question');
				lastQuestionPopup();
			}else if(QuestionNumber == 0){
				getQuestionNumber(0);
			}	
		}
		
		function lastQuestionPopup(){
			$( "#popup" ).dialog({
				dialogClass: "alert",
				  buttons: [
				    {
				      text: "Ok",
				      click: function() {
				    	var location = "/allocation/intro";
						window.location.href = location ;
				      }
				    },
				    {
				    	text: "cancel",
					      click: function() {
					        $( this ).dialog( "close" );
					        getQuestionNumber(MaxQuestions);
					      }
				    }
				  ]
			});
			$( "#popup" ).html('You have reached the end of this portion of the Lab. Please press <h5>OK</h5> to proceed or cancel to review your answers.');
			return;
		}
		
		function countQuestion(){
			MaxQuestions = Number(6);
			getQuestion();
		}
			
		$( function() {
		    $( "#dialog" ).dialog();
		  } );
		
	    function randomIntFromInterval(min,max) {
	        return Math.floor(Math.random()*(max-min+1)+min);
	    }
	    
		function saveUserPageOrder(page_order){
			console.log(page_order);
			path = "/user_page_order/save" ;
			var request= {
	            action : path,
	            page_order: page_order,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.post(path,  request,   function(data, status, xhr){	
				
				if(data.success_message){
					getNextPage();
				}
				if(data.error_message){
					console.log(data.error_message);
				}
			}, "json");	
		}
		
		$( document ).ready(function() {
	    	countQuestion();
	    	
	    	// sets the users page order for the my-ngo earnings section	
	    	var page_order = randomIntFromInterval(1,4);
	    	console.log(page_order);	
	    	saveUserPageOrder(page_order);
	    	
	    	createAmountTracker();
		});
	
	
	</script>
	

</head>
<body>
	<div class='hundred'>
		<h2 class='center'>Task Details</H2>
	</div>
	<div class='vertical_spacer_ten'></div>
	<div class='vertical_spacer_ten'></div>
	<div class = 'text600'>
		<div id='question' class='question_display_div'>
		</div>
		<br/>

		<div class = 'after_left'></div>
		<br/>
	</div>
	<div class='vertical_spacer_ten'></div>
	<div class='vertical_spacer_ten'></div>
	<div class='hundred button_height'>
		<div class='hundred '>
			 <a id='proceed' href="#" onclick="nextQuestion()" class=" fifty_w_h  left25 button dark_grey "><div class="center_text">Next</div></a>
		</div>
	</div>
	<div id='popup'>
	</div>
</body>
</html>