<html>
<head>
	<link rel="stylesheet" href="/css/answer.css" type="text/css" />
	<link rel="stylesheet" href="/css/question.css" type="text/css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script>
		// global variables
		var QuestionNumber = 0;
		var MaxQuestions;
		var answered = false;
		
	
		function nextPage(){
			var value = $('input[name=response]:checked', '#response').val();
			if(typeof value === 'undefined'){
				$( "#popup" ).dialog({
					dialogClass: "alert",
					  buttons: [
					    {
					      text: "Ok",
					      click: function() {
					        $( this ).dialog( "close" );
					      }
					    }
					  ]
				});
				$( "#popup" ).html('Please select one of the eight radio buttons to select a value!');
				return;
			}else{
				saveAnswer(1, value);
			}
		}
		
		
		function next(){
			var location = "/session2/allocate2";
			window.location.href = location ;
		}
		
		
		function saveAnswer(question, value){
			
			path = "/opinion2/save" ;
		
			var request= {
	            action : path,
	            question: question,
	            value: value,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.post(path,  request,   function(data, status, xhr){
				//console.log(data); 
				if(!data.message_error){
					//findAnswer(question)
					$("input:radio[name='response']").each(function(i) {
				       this.checked = false;
					});
					next(); 
				}else{
					console.log(data.message_error);
				}
				
			}, "json");	
		
		}
		
		function setQuestion(content){
			//console.log(content);
			$('#question').html(content);
		}
		
		function getQuestionNumber(number){
				
				var path = "/question/" + number;
				//console.log(path);	
			
				var request= {
		            action : path,
		            rand : Math.floor(Math.random()*100000)
		        };
				
				$.get(path,  request,   function(data, status, xhr){
					var question = data.text;	
					$('#questionNumber').html(data.id);
					//findAnswer(data.id);
			        setQuestion(question);   
				}, "json");	
			
		}
		
		function setQuestion(content){
			//console.log(content);
			$('#question').html(content);
		}
		
		$( document ).ready(function() {
	    	//countQuestion()
			//MaxQuestions = Number(1);
			getQuestionNumber(1);
		});
	
	
	</script>
	

</head>
<body>
	<div class = 'text600'>
		<div id='question' class='question_display_div'>
		</div>
		<hr/>

		<%- partial('../layout/answer/default_answer') %>
		<hr/>
		<br/>
		<div class='hundred button_height '>
			<div class='ninety'>
				 <a href="#"  class="fifty_w_h left button dark_grey "><div class="center_text"></div></a>
				
				 <a href="#" onclick="nextPage()" class="fifty_w_h  right button dark_grey "><div class="center_text">Save</div></a>
			</div>
		</div>
		<div class = 'after_left'></div>
		<br/>
	
	</div>
	<div id='popup'>
		
	</div>
</body>
</html>