<html>
<head>
	<title>Demo 1 : Convert All Textareas</title>
	<link rel="stylesheet" href="/css/my_earnings_counter.css" type="text/css" />
	<link rel="stylesheet" href="/css/button.css" type="text/css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script type="text/javascript">
		var username = '<%= req.session.username %>';
		var message = 'hello world';
		var keypress_string = '';
		var timeleft;
		function KeyCounter(){};
		function Timer(){};
		
		var keepCounts = new KeyCounter();
	  	
	  	function savePayment(amount, keepCounts){
			path = "/my_amount/save" ;
			var request= {
	            action : path,
	            amount: amount,
	            keepCounts: keepCounts,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.post(path,  request,   function(data, status, xhr){
				if(data.success_message){
					//console.log('saved');
					$('#proceed').show();
				}
			}, "json");	
		}
	  	
	  	
	  	function displayPopup(message){
	  		$( "#popup" ).dialog({
				autoOpen: true,
				resizable: false,
				position: { my: "left bottom", at: "left+100 bottom-100", of: '#emailer' },
			    height: 350,
			    width: 300,
			    
			    modal: true,
			    buttons: {
			        "OK": function() {
			          $( this ).dialog( "close" );
				    }
			    }
			});
			
			$( "#popup" ).html(
				message
			);
	  		
	  	}
	  	
	  	function logoutUser(){
	  		var location = "/confirm/end2";
			window.location.href = location ;
	  	}
	  	
		$( document ).ready(function() {
			var timer_started = false;
			$('#proceed').hide();
			var counter = new KeyCounter();
			counter['counter'] = 0;

			$(document).keydown( function(e){
				keypress_string = keypress_string + e.key;
				
				if(timer_started===false){
					//console.log('timer_started ' + timer_started);
					timeleft = 180;
					setInterval(function(){
						timeleft = timeleft - 1;
						countdown(timeleft)}, 1000);
					countdown(new Number(180));
					timer_started = true;
				}

				if(keypress_string === 'x'){
					keypress_string = e.key;	
				}else if(keypress_string === 'xz' ){
					
					keypress_string = '';
					counter['counter'] = counter['counter'] + 1;
					if(timeleft > 0){
						$('#key_counter').empty();
						$('#key_counter').html(counter['counter']);
					}
					
				}else{
					keypress_string = '';
				}
			});
			$('#total_row').hide();
		});
		
		function next(){
			var location = "/session2/after_amount";
			window.location.href = location ;
		}
	
		function countdown(timeleft) {
		  if (timeleft == 0) { 
			
			var key_counter = $('#key_counter').html();
			
			  var counter6 = 
				  (new Number($('#key_counter').html())) - keepCounts['counter1'] - keepCounts['counter2'] - keepCounts['counter3'] - keepCounts['counter4'] - keepCounts['counter5'];
			  $('#key_counter').html('');
			  $('#clicks').html('');
			  keepCounts['counter6'] = counter6;
			  var amount6 = ((counter6 * .0025).toFixed(2));
			  keepCounts['total6'] = amount6;
			  $('#payment6').html('Your payment for the 6th 30 seconds is ' + counter6 + ' @ $0.0025 = $ ' + amount6);
			//$('#payment_message').html('We will make the payment to you at the end of the experiment. After all' + 
					//'participants have completed the practice round, we will give you some additional instructions for the next stage.');
			//$('#key_counter').empty();
			$('#timer').html("0" + ' seconds remaining');
			var total = new Number(keepCounts['total1']) + new Number(keepCounts['total2']) + new Number(keepCounts['total3']) + new Number(keepCounts['total4']) + new Number(keepCounts['total5']) + new Number(keepCounts['total6']);
			total = (total).toFixed(2)
			$('#6_30_a').html(counter6);
			$('#6_30_b').html('$ ' + amount6);
			
			$('#total_clicks').html('Total Clicks: ' + key_counter);
			$('#amount_earned').html('Amount Earned: ' + total);
			$('#total_row').show();
		    savePayment( total, keepCounts);
		    return timedout = false;
		  }else if(timeleft == 30){
			  var counter5 = 
				  (new Number($('#key_counter').html())) - keepCounts['counter1'] - keepCounts['counter2'] - keepCounts['counter3'] - keepCounts['counter4'];
			  keepCounts['counter5'] = counter5;
			  var amount5 = ((counter5 * .005).toFixed(2));
			  keepCounts['total5'] = amount5;
			  $('#5_30_a').html(counter5);
			  $('#5_30_b').html('$ ' + amount5);
		  }else if(timeleft == 60){
			  var counter4 = (new Number($('#key_counter').html())) - keepCounts['counter1'] - keepCounts['counter2'] - keepCounts['counter3'];
			  keepCounts['counter4'] = counter4;
			  var amount4 = ((counter4 * .0075).toFixed(2));
			  keepCounts['total4'] = amount4;
			  $('#4_30_a').html(counter4);
			  $('#4_30_b').html('$ ' + amount4);  
		  }else if(timeleft == 90){
			  var counter3 = (new Number($('#key_counter').html())) - keepCounts['counter1'] - keepCounts['counter2'];
			  keepCounts['counter3'] = counter3;
			  var amount3 = ((counter3 * .010).toFixed(2));
			  keepCounts['total3'] = amount3;
			  $('#3_30_a').html(counter3);
			  $('#3_30_b').html('$ ' + amount3);
		  }else if(timeleft == 120){
			  var counter2 = (new Number($('#key_counter').html())) - keepCounts['counter1'];
			  keepCounts['counter2'] = counter2;
			  var amount2 = ((counter2 * .0125).toFixed(2));
			  keepCounts['total2'] = amount2;
			  $('#2_30_a').html(counter2);
			  $('#2_30_b').html('$ ' + amount2);
		  }else if(timeleft == 150){
			  var counter1 = new Number($('#key_counter').html());
			  keepCounts['counter1'] = counter1;
			  var amount1 = ((counter1 * .015).toFixed(2));
			  keepCounts['total1'] = amount1;
			  $('#1_30_a').html(counter1);
			  $('#1_30_b').html('$ ' + amount1);
		  } 
		  
		  if(timeleft > 0){
		    $('#timer').html(timeleft  + ' seconds remaining');  
		  }
		}
	</script>	
	
</head>
<body>

<div class=''><h4>Formal Round - My Earnings</h4></div>
<p>
<div class=''>
<p>
The earnings from this round (if chosen) will be paid to You.
<p>
Your task is to sequentially click the X and Z keys as many times as you choose in a 
180-second (3-minute) time period. You are allowed to use both hands.  
</div>
<p>
<div class=''>
You can choose when to stop clicking X-Z pairs.
</div>
<p>
<div class=''>
The maximum time you can continue clicking X-Z pairs is 180 seconds.
</div>
<p>
<div class=''>
Payment for your performance will be as follows:
</div>

<div class='center'>
	<%- partial('../layout/session2/my_earnings_table') %>
</div>

<div class=' hundred timer_data'>
	<table class='.timer_table hundred'	>
		<tr>
			<td class='.timer_table a_cell' id='key_counter'>0</td>
			<td id='clicks'>Clicks</td>
			<td class='c_cell timer_table'></td>
			<td class='.timer_table d_cell'><span id='timer'>0 Seconds</span></td>
		</tr>
	</table>
	
</div>




<div class='vertical_spacer_ten'></div>
<div class='hundred button_height'>
	<div class='hundred '>
		 <a id='proceed' href="#" onclick="next()" class=" fifty_w_h  left25 button dark_grey "><div class="center_text">Proceed to Next Page</div></a>
	</div>
</div>
<div id='popup'>
</div>

</body>
</html>