
<html>
<head>
	<title>Demo 1 : Convert All Textareas</title>
	<link rel="stylesheet" href="/css/allocation.css" type="text/css" />
	<link rel="stylesheet" href="/css/button.css" type="text/css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script type="text/javascript">
	var nextPage;
	
	var ngo = [" ", "Canadian Council on Animal Care", "Animal Alliance of Canada"];
	var ngoChoice2 = '';
	var ngoChoice1 = '';
	var choice;
	var giveBonus;
	
	function getNextPage(page){
		checked = $('#ngo_radio_choice2').is(':checked');
		
		if(checked){
			choice = ngoChoice2;
		}else{
			choice = ngoChoice1;
			giveBonus = true;
		}
		
		var path = "/user_page_order/find";
		var request= {
            action : path,
            rand : Math.floor(Math.random()*100000)
        };
		
		$.get(path,  request,   function(data, status, xhr){
			if(data[0].page3){
				nextPage = data[0].page3;
				if(giveBonus === true){
					createBonus();	
				}else{
					processNgoChoice2(choice);
				}
				
			}
		}, "json");	
	}
	
	function createBonus(){
		
		var path = "/bonus/create";
		var request= {
            action : path,
            rand : Math.floor(Math.random()*100000)
        };
		
		$.post(path,  request,   function(data, status, xhr){	
			if(data.bonus){
				processNgoChoice2(choice);
			}	
		}, "json");	
	}
	                                                                                                                                                                                                         	
	function next(){
		var location = "/session2/" + nextPage;
		//console.log('location ' + location);
		window.location.href = location ;
	}
	
	function findNgo_Choice1(){
		
		var path = "/ngo_choice2/findNgo_choice1";
		var request= {
            action : path,
            rand : Math.floor(Math.random()*100000)
        };
		
		$.get(path,  request,   function(data, status, xhr){
			if(data.ngo_choice1){
				console.log(data.ngo_choice1.ngo);
				loadNgoInfo(data.ngo_choice1.ngo);
				// setting ngoChoice2 to same as NGO Choice 1
				ngoChoice1 = new Number(data.ngo_choice1.ngo);
				if(ngoChoice1 == 1){
					ngoChoice2 = new Number(2);
				}else{
					ngoChoice2 = new Number(1);
				}
				$('.current_ngo').html(ngo[ngoChoice1]);
				console.log('ngoChoice1' + ngoChoice1);
				
				$('#ngo_current').attr('checked', true);
			}
		}, "json");	
	}

  	
	function loadNgoInfo(ngo_choice1){
		//console.log('loading ngo choice page');
		var path = "/ngo_choice2/getNgo_choice1_alt";
		var request= {
            action : path,
            ngo_choice1: ngo_choice1,
            rand : Math.floor(Math.random()*100000)
        };
		
		$('#ngo_info').load(path,  request,   function(data, status, xhr){	
			
		}, "json");
	}
	
	function processNgoChoice2(value){
		
		var path = "/ngo_choice2/save";
		var request= {
            action : path,
            ngo_choice2: value,
            rand : Math.floor(Math.random()*100000)
        };
		
		$.post(path,  request,   function(data, status, xhr){	
			if(data.ngo_choice2){
				next();
			}	
		}, "json");	
	}
	
  	function displayPopup(){
  		checked = $('#ngo_radio_choice2').is(':checked');
  		
  		var message = 	"You have just chosen to work for " +
  						ngo[ngoChoice2] +
  						", a new not-for-profit" +
  						" organization which supports the views on this page." +
  						" You will not receive $3 for this choice. Press proceed " + 
  						"to next page once you are satisfied with your decision.";
  		$( "#popup" ).dialog({
			autoOpen: true,
			resizable: false,
			position: { my: "left bottom", at: "left+100 bottom-100", of: '#ngo_info' },
		    height: 350,
		    width: 300,
		    
		    modal: true,
		    buttons: {
		        "OK": function() {
		          $( this ).dialog( "close" );
			    }
		    }
		});
		
		$( "#popup" ).html(
			message
		);
  	}
  	
 	function displayPopup2(){
 		checked = $('#ngo_radio_choice2').is(':checked');
  		
  		var message = 	"You have just chosen to stay with " +
  						ngo[ngoChoice1] +
  						", the same not-for-profit" +
  						" organization which you worked for in the previous rounds." +
  						" You will receive $3 for this choice. Press proceed to next" +
  						" page once you are satisfied with your decision.";
  		$( "#popup" ).dialog({
			autoOpen: true,
			resizable: false,
			position: { my: "left bottom", at: "left+100 bottom-100", of: '#ngo_info' },
		    height: 350,
		    width: 300,
		    
		    modal: true,
		    buttons: {
		        "OK": function() {
		          $( this ).dialog( "close" );
			    }
		    }
		});
		
		$( "#popup" ).html(
			message
		);
  	}
  	

			
	$( document ).ready(function() {
		findNgo_Choice1();
	});
		
		
	</script>	
	
</head>
<body>

<p>
You are currently working for <span class="current_ngo"></span>
<p>
With two rounds of the clicking task remaining (Rounds 3 and 4), 
you are now offered $3 to continue to work for your current not-for-profit 
organization. However, you may choose to forgo the $3 and work for:

<div id="ngo_info"></div>

<p>
Switch NGO choice: <input type="radio" id="ngo_radio_choice2" onclick="displayPopup()" current_value="" name='response'>
<p>
Stay with current NGO :&nbsp;<input type="radio" id="ngo_current" onclick="displayPopup2()" current_value="" name='response'>	

<div class='vertical_spacer_ten'></div>
<div class='hundred button_height'>
	<div class='hundred '>
		 <a id='proceed' href="#" onclick="getNextPage(3)" class=" fifty_w_h  left25 button dark_grey "><div class="center_text">Proceed to Next Page</div></a>
	</div>
</div>


<div id='popup'>
</div>

</body>
</html>

