<html>
<head>
	<title>Demo 1 : Convert All Textareas</title>
	<link rel="stylesheet" href="/css/payment.css" type="text/css" />
	<link rel="stylesheet" href="/css/button.css" type="text/css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script type="text/javascript">
		// token values for NGOs array
		ngo_allocation = [0, 5.0, 9.7, 14.1, 18.2, 22, 25.5, 28.7, 31.6, 34.2, 36.5, 38.5, 40.2, 41.6, 42.7, 43.5];
		
		var rounds = new Object();
		// initialize totals
		var myTotal = new Object();
		myTotal.total = 7;
		var ngoTotal = new Object();
		ngoTotal.total = 0;
		var ngo2Total = new Object();
		ngo2Total.total = 0;
		
		var round1updated;
		
		function nextPage(){
			var location = "/session2/payment";
			window.location.href = location ;
		}
		
		// get data from db for payment page
		function populateData(){
			getBonus();
		}
		
		function calculateMyAmount(tokens){
			var amount = new Number(tokens) * 2;
			amount = amount.toFixed(2);
			return amount;
		}
		
		function calculateNgoAmount(tokens){
			var amount =  new Number(ngo_allocation[tokens]);
			amount = amount.toFixed(2);
			return amount;
			
		}
		
		function calculatePrAmount(amount){
			amount = amount.toFixed(2);
			return amount;
		}
		
		function getBonus(){
			
			var path = "/bonus/find";
			var request= {
	            action : path,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.get(path,  request,   function(data, status, xhr){
				if(data){
					updateBonus(data.bonus);
					getPracticeRound();
				}  
			}, "json");	
		}
		
		function getAllocate(choice1){
			
			var path = "/allocate/find";
		
			var request= {
	            action : path,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.get(path,  request,   function(data, status, xhr){
				
				if(data.allocate){
					myTokens = new Number(data.allocate.myself);
					myAmount = calculateMyAmount(myTokens);
					myTotal.allocate1 = new Number(myAmount);
					ngoTokens = new Number(data.allocate.org);
					ngoAmount = calculateNgoAmount(ngoTokens);
					ngoAmount = '$ ' + ngoAmount;
					ngoTotal.allocate1 = new Number(ngoAmount);
					$('#my_al_tokens').html( '' + myTokens + ' tokens');
					$('#my_al_amount').html( '$ ' + myAmount);
					ngo_element = '#ngo' + data.allocate.ngo + '_1';
					rounds.ngo1 = data.allocate.ngo;
					$(ngo_element).html('' + ngoTokens + ' tokens </br><span id="ngo_al_amount">' + ngoAmount + '</span>');
					getAllocate2();	
				}  
			}, "json");	
		
		}
		
		function getAllocate2(){
			
			var path = "/allocate2/find";
			var request= {
	            action : path,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.get(path,  request,   function(data, status, xhr){
				if(data.allocate){
					myTokens = new Number(data.allocate.myself);
					myAmount = calculateMyAmount(myTokens);
					myTotal.allocate2 = new Number(myAmount);
					ngoTokens = new Number(data.allocate.org);
					ngoAmount = calculateNgoAmount(ngoTokens);
					ngoAmount = '$ ' + ngoAmount;
					ngoTotal.allocate2 = new Number(ngoAmount);
					$('#my2_al_tokens').html( '' + myTokens + ' tokens');
					$('#my2_al_amount').html( '$ ' + myAmount);
					ngo_element = '#ngo' + data.allocate.ngo + '_2';
					rounds.ngo2 = data.allocate.ngo;
					$(ngo_element).html('' + ngoTokens + ' tokens </br><span id="ngo2_al_amount">' + ngoAmount + '</span>');
					getPageOrder();
				}  
			}, "json");	
		}
		
		function getPracticeRound(){
			
			var path = "/pr_amount/find";
			var request= {
	            action : path,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.get(path,  request,   function(data, status, xhr){
				if(data.pr_amount){
					var amount = calculatePrAmount(data.pr_amount.amount);
					$('#pr_amount').html('$ ' + amount);
					var clicks = data.pr_amount.clicks;
					myTotal.total = myTotal.total + data.pr_amount.amount;
					$('#pr_clicks').html(clicks + ' Clicks');
					getSessionType();
				}  
			}, "json");	
		}
		
		function getMyAmount(){
			
			var path = "/my_amount/find";
			var request= {
	            action : path,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.get(path,  request,   function(data, status, xhr){
				if(data.my_amount){
					rounds.my_amount = data.my_amount;
					rounds.my_return = true;
					updateMyData();
				}  
			}, "json");	
		}
		
		function getMyAmount2(){
			
			var path = "/my2_amount/find";
			var request= {
	            action : path,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.get(path,  request,   function(data, status, xhr){
				if(data.my2_amount){
					rounds.my2_amount = data.my2_amount;
					rounds.my2_return = true;
					updateMyData2();
				}  
			}, "json");	
		}
		
		function getNGOAmount(){
			
			var path = "/ngo_amount/find";
			var request= {
	            action : path,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.get(path,  request,   function(data, status, xhr){
				if(data.ngo_amount){
					rounds.ngo_amount = data.ngo_amount;	
					rounds.ngo_return = true;
					updateNgoData();
				}  
			}, "json");	
		}
		
		function getNGOAmount2(){
			
			var path = "/ngo_amount2/find";
			var request= {
	            action : path,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.get(path,  request,   function(data, status, xhr){
				if(data.ngo_amount2){
					rounds.ngo_amount2 = data.ngo_amount2;	
					rounds.ngo2_return = true;
					updateNgo2Data();
				}  
			}, "json");	
		}
		
		function getSessionType(){
			
			var path = "/sessionuser/findSessionType";
			var request= {
	            action : path,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.get(path,  request,   function(data, status, xhr){
				if(data){
				 $('#session_type').html(data.name); 
				 getNgo();
				}  
			}, "json");	
		}
		
		function getClickSessions(){
			path = '/clickSessionChoices/find';
			
			var request= {
		            action : path,
		            rand : Math.floor(Math.random()*100000)
		        };
				
				$.get(path,  request,   function(data, status, xhr){
					if(data.sessionChoices){
						// choices are 0 or 1 
						var m_round = new Number(data.sessionChoices.my_session);
						rounds.myself_round = m_round;
						var n_round = new Number(data.sessionChoices.ngo_session);
						rounds.ngo_round = n_round;
											
						rounds.myself_allocation_round = new Number(data.sessionChoices.my_allocation_choice);
						rounds.ngo_allocation_round = new Number(data.sessionChoices.ngo_allocation_choice);
						rounds.myself2_allocation_round = new Number(data.sessionChoices.my2_allocation_choice);
						rounds.ngo2_allocation_round = new Number(data.sessionChoices.ngo2_allocation_choice);
					}
				}, "json");	
		}
		
		function updateMyData(){
			rounds.my_row_id = rounds.my;
			
			updateMy_row();
		}
		
		function updateMyData2(){
			rounds.my2_row_id = rounds.my2;
			updateMy2_row();
		}
		
		function updateNgoData(){
			rounds.ngo_row_id = rounds.ngo;	
			updateNgo_row();
		}
		
		function updateNgo2Data(){
			rounds.ngo2_row_id = rounds.ngo2;
			updateNgo2_row();
		}
		
		function getNgo(){
			path = '/ngo/find';
			
			var request= {
		            action : path,
		            rand : Math.floor(Math.random()*100000)
		        };
				
				$.get(path,  request,   function(data, status, xhr){
					if(data.error_message){
						
					}else{
						var donate_a = $('#donate_a').html();
						donate_a = donate_a.replace("NGO1", data.ngos[0].name );
						$('#donate_a').html(donate_a);
						
						var donate_b = $('#donate_b').html();
						donate_b = donate_b.replace("NGO2", data.ngos[1].name );
						$('#donate_b').html(donate_b);
						
						getAllocate(data.choice1);
						
					}
				}, "json");	
		}
		
		function getNgoChoice2(){
			path = '/ngo_choice2/find';
			
			var request= {
		            action : path,
		            rand : Math.floor(Math.random()*100000)
		        };
				
				$.get(path,  request,   function(data, status, xhr){
					if(data.error_message){
						
					}else{
						
						
						rounds.ngo_choice2 = data.choice2;
						
						round1updated = true;
					}
				}, "json");	
		}
		
		function getPageOrder(){
			
			var path = "/user_page_order/find";
			var request= {
	            action : path,
	            rand : Math.floor(Math.random()*100000)
	        };
			
			$.get(path,  request,   function(data, status, xhr){
				if(data[0]){
					$('#round1').html(data[0].page1);
					$('#round2').html(data[0].page2);
					$('#round3').html(data[0].page3);
					$('#round4').html(data[0].page4);
					processPageData(data[0]);
					
				}
			}, "json");	
		}
		
		function processPageOrder(page, counter){
				
			if(page === 'ngo_earnings'){
				rounds.ngo = counter;
			}else if(page === 'ngo_earnings2'){
				rounds.ngo2 = counter;
			}else if(page === 'my_earnings'){
				rounds.my = counter;
			}else if(page === 'my_earnings2'){
				rounds.my2 = counter;
			}
		}
			
		function updateMy_row(){
			norounds = true;
			
			cell1 = $('#round' + rounds.my_row_id).html();
			$('#round' + rounds.my_row_id).html(cell1 + '<br/>' + '<span class="green">(Selected Round)</span>');

			my = rounds.my_amount;
			
			// update allocations
			// add al_total to total if required
			if(rounds.myself_allocation_round == 1){
				norounds = false;
				myTotal.total = myTotal.total + new Number(myTotal.allocate1);
				$('#my_al_amount').addClass('green');
				$('#ngo_al_amount').addClass('green');
			}else{
				$('#my_al_amount').addClass('red');
				$('#ngo_al_amount').addClass('red');
			}
			
			if(norounds === true){
				$('#my_al_amount').addClass('red');
			}
			
			var performance = createMyPerformance(my); 
			$('#round' + rounds.my_row_id + '_1').html(performance);	
			var amount = createMyAmount(my); 
			$('#round' + rounds.my_row_id + '_2').html(amount).addClass('center');
			
			if(rounds.myself_round == 1 ){
				$('#round' + rounds.my_row_id + '_2').addClass('green');
				myTotal.total = myTotal.total + new Number(rounds.my_amount.amount);
			}else{
				$('#round' + rounds.my_row_id + '_2').addClass('red');
			}
			
			var total = (myTotal.total).toFixed(2);
			$('#my_total').html('$ ' + total).addClass('green').addClass('center');
			
			getNGOAmount();
		}
		
		function updateMy2_row(){
			norounds = true;
			
			cell1 = $('#round' + rounds.my2_row_id).html();
			$('#round' + rounds.my2_row_id).html(cell1 + '<br/>' + '<span class="green">(Selected Round)</span>');
			
			my2 = rounds.my2_amount;
			
			if(rounds.myself2_allocation_round == 2){
				norounds = false;
				myTotal.total = myTotal.total + new Number(myTotal.allocate2);
				$('#my2_al_amount').addClass('green');
				$('#ngo2_al_amount').addClass('green');
			}else{
				
				$('#my2_al_amount').addClass('red');
				$('#ngo2_al_amount').addClass('red');
			}
			if(norounds === true){
				$('#my2_al_amount').addClass('red');
				$('#ngo2_al_amount').addClass('red');
			}
			
			var performance2 = createMyPerformance(my2); 
			$('#round' + rounds.my2_row_id + '_1').html(performance2);	
			var amount2 = createMyAmount(my2); 
			$('#round' + rounds.my2_row_id + '_2').html(amount2).addClass('center');
			
			if(rounds.myself_round == 1 ){
				$('#round' + rounds.my2_row_id + '_2').addClass('red');
			}else{
				$('#round' + rounds.my2_row_id + '_2').addClass('green');
				myTotal.total = myTotal.total + new Number(rounds.my2_amount.amount);
			}
			
			var total = (myTotal.total).toFixed(2);
			$('#my_total').html('$ ' + total).addClass('green').addClass('center');
			
			getNGOAmount2();
			
			}
			
		
		function createMyPerformance(my){
			var html;
			html = '1st 30: ' + my.count_1_30 + '<br/>';
			html = html + '2nd 30: ' + my.count_2_30 + '<br/>';
			html = html + '3rd 30: ' + my.count_3_30 + '<br/>';
			html = html + '4th 30: ' + my.count_4_30 + '<br/>';
			html = html + '5th 30: ' + my.count_5_30 + '<br/>';
			html = html + '6th 30: ' + my.count_6_30 + '<br/>';
			return html;
		}
		
		function createMyAmount(my){
			var html;
			html = '$ ' + (my.amount_1_30).toFixed(2) + '<br/>';
			html = html + '$ ' + (my.amount_2_30).toFixed(2) + '<br/>';
			html = html + '$ ' + (my.amount_3_30).toFixed(2) + '<br/>';
			html = html + '$ ' + (my.amount_4_30).toFixed(2) + '<br/>';
			html = html + '$ ' + (my.amount_5_30).toFixed(2) + '<br/>';
			html = html + '$ ' + (my.amount_6_30).toFixed(2) + '<br/>';
			return html;
		}
		
		function updateNgoAllocateRows(){
			
			if(rounds.ngo_allocation_round === 1){
				
			}if(rounds.ngo_allocation_round === 2){
				
			}else{
				
			}
			
		}
		
		function updateNgo_row(){
			norounds = true;
			column = 4;
			
			if(rounds.ngo1 === '1'){
				column = 3;	
			}
			
			ngoAmountCell = column;
			ngo = rounds.ngo_amount;
			
			cell1 = $('#round' + rounds.ngo_row_id).html();
			$('#round' + rounds.ngo_row_id).html(cell1 + '<br/>' + '<span class="green">(Selected Round)</span>');
			
			
			
			performance = createNgoPerformance(ngo); 
			$('#round' + rounds.ngo_row_id + '_1').html(performance);	
			amount = createNgoAmount(ngo); 
			$('#round' + rounds.ngo_row_id + '_' + ngoAmountCell).html(amount).addClass('center');
			
			if(rounds.ngo_allocation_round == 1){
				norounds = false;
				ngoTotal.total = ngoTotal.total + new Number(ngoTotal.allocate1);
				$('#ngo1_1').addClass('green');
			}else{
				$('#ngo1_1').addClass('red');
			}
			

			if(rounds.ngo_round == 1 ){
				$('#round' + rounds.ngo_row_id + '_' + ngoAmountCell).addClass('green');
				ngoTotal.total = ngoTotal.total + new Number(rounds.ngo_amount.amount);
			}else{
				$('#round' + rounds.ngo_row_id + '_' + ngoAmountCell).addClass('red');
			}
			total = (ngoTotal.total).toFixed(2);
			ngo_total_el = $('#ngo' + rounds.ngo1 + '_total');
			ngo_total_el.html('$ ' + total).addClass('green').addClass('center');
			
			getMyAmount2();
		}
		
		function updateNgo2_row(){
			norounds = true;
			
			
			ngo2 = rounds.ngo_amount2;
			column = 4;
			
			if(rounds.ngo1 === '1'){
				column = 3;	
			}
			
			ngo2AmountCell = column;
			
			cell1 = $('#round' + rounds.ngo2_row_id).html();
			$('#round' + rounds.ngo2_row_id).html(cell1 + '<br/>' + '<span class="green">(Selected Round)</span>');
			
			
			performance2 = createNgoPerformance(ngo2); 
			$('#round' + rounds.ngo2_row_id + '_1').html(performance2);	
			amount2 = createNgoAmount(ngo2); 
			$('#round' + rounds.ngo2_row_id + '_' + ngo2AmountCell).html(amount2).addClass('center');
			
			if(rounds.ngo2_allocation_round == 2){
				norounds = false;
				ngo2Total.total = ngo2Total.total + new Number(ngoTotal.allocate2);
				$('#ngo2_2').addClass('green');
			}else{
				$('#ngo2_2').addClass('red');
			}
			if(norounds === true){
				$('#ngo1_1').addClass('red');
				$('#ngo2_2').addClass('red');
			}
			
			if(rounds.ngo_round == 1 ){
				$('#round' + rounds.ngo2_row_id + '_' + ngo2AmountCell).addClass('red');
			}else{
				$('#round' + rounds.ngo2_row_id + '_' + ngo2AmountCell).addClass('green');
				ngo2Total.total = ngo2Total.total + new Number(rounds.ngo_amount2.amount);
			}
			total2 = (ngo2Total.total).toFixed(2);
			ngo_total_el = $('#ngo' + rounds.ngo1 + '_total');
		
			ngo_total_el.html('$ ' + total2).addClass('green').addClass('center');
		}
		
		function createNgoPerformance(ngo){
			var html;
			html = '1st 30: ' + ngo.count_1_30 + '<br/>';
			html = html + '2nd 30: ' + ngo.count_2_30 + '<br/>';
			html = html + '3rd 30: ' + ngo.count_3_30 + '<br/>';
			html = html + '4th 30: ' + ngo.count_4_30 + '<br/>';
			html = html + '5th 30: ' + ngo.count_5_30 + '<br/>';
			html = html + '6th 30: ' + ngo.count_6_30 + '<br/>';
			
			return html;
		}
		
		function createNgoAmount(ngo){
			var html;
			html = '$ ' + ngo.amount_1_30 + '<br/>';
			html = html + '$ ' + (ngo.amount_2_30).toFixed(2) + '<br/>';
			html = html + '$ ' + (ngo.amount_3_30).toFixed(2) + '<br/>';
			html = html + '$ ' + (ngo.amount_4_30).toFixed(2) + '<br/>';
			html = html + '$ ' + (ngo.amount_5_30).toFixed(2) + '<br/>';
			html = html + '$ ' + (ngo.amount_6_30).toFixed(2) + '<br/>';
			
			return html;
		}
		
		function processPageData(page, counter){
			var counter = 0;
			processPageOrder(page.page1, ++counter);
			processPageOrder(page.page2, ++counter);
			processPageOrder(page.page3, ++counter);
			processPageOrder(page.page4, ++counter);
			getMyAmount();
			//getClickSessions();
		}
		
		function updateBonus(bonus){
			if(bonus && bonus.bonus === true){
				$('#session_bonus').html('$ 3.00').addClass('center').addClass('green');
				myTotal.total = myTotal.total + 3;
			}else{
				$('#bonus_row').hide();
			}
		}
		
			
		$( document ).ready(function() {
			populateData();
		});
		
	</script>	
	
</head>
<body>
<div class='height_70'>
	<div id='allocate_assistant'  ></div>
	<div id='assistance' class='red'></div>
	<div id='error_message' class='red'></div>
</div>

<div class='center'><h4>Payment</h4></div>

<p>
Your performance and payment from today&#39;s experiment follow:  
</p>
<p>
<div id='scenario_text'></div>
	
</p>

<p>
<%- partial('../layout/session2/payment_table') %>
</p>


<p>
Please put up your hand and we will come to your station to pay you in cash and in private. 
<p>
Thank you very much for participating in our research study!

Information Disclosure Message.

<div class = 'after_left'></div>
</p>
<div id='popup' class ='green'>
</div>

<p>

</p>

</body>
</html>