<html>
<head>
	<title>Session 2 Admin Verbal Instructions</title>
	<link rel="stylesheet" href="/css/allocation.css" type="text/css" />
	
	<script type="text/javascript">
	

		
	</script>	
	
</head>
<body>

<div class='center'><h3>WLU Labs</h3></div>
<div class='center'><h4>Session 2 Admin Verbal Instructions</h4></div>
<p>

Thank you for choosing to take part in this research study and for filling out 
the online survey last week. You will be paid $5 at the end of today&#39;s study 
for completing the survey. Today&#39;s study will last 35-40 minutes. Your 
performance and decisions will determine your pay. 
</p>
<p>
Before describing today&#39;s session, it is important that we establish three ground rules:
</p>
<p><h4>1. NO TALKING WITHIN OR BETWEEN SESSIONS</h4>
</p>
<p>
Please help us maintain control over the experiment by refraining from comments 
or other communication with your fellow participants in this session, 
or with other students who might participate in future sessions.  There is no 
need to communicate with other participants during this experiment or who might 
participate in future experiments. If you have any questions, just raise your hand 
and we will assist you. Thank you for your understanding and cooperation. 
</p>
<p><h4>2. NO DECEPTION ON OUR PART</h4>
</p>
<p>
We promise to carry out the experiment in the manner described in these instructions, 
with no deception.  As will be explained later, we will pay any remuneration you 
earn from this study at the end of today&#39;s session, and we promise that your 
remuneration will be exactly as described by the study.
</p>
<p><h4>3. CONFIDENTIALITY AND ANNONYMITY</h4>
</p>
<p>
We assure you that any information obtained in connection with this study will be 
kept confidential. Further, your participation and all of your responses will 
be completely anonymous. 
</p>

<p>
In this session, please proceed through each screen sequentially. Once you have finished 
a screen, continue to the next screen and do not go back to previous screens unless 
there is a Previous Button on the screen that allows you to do so.
</p>
<a href="/session2/practice_round">When ready - Proceed to next Page</a>

<div id='popup'>
</div>

</body>
</html>